// =============================================
//                  Desktop
//          Last Updated:2013-8-16
// =============================================

$responsive: true !default;


@mixin desktop {
  @if $responsive {
    @media #{$desktop} {
      // conditional helpers
      .hide-on-desktop { display: none !important; }
      // spacer overrides
      .zero-desktop { @include helper_reset(); }
      .no-padding-desktop, .no-pad-desktop { @include helper_reset(padding, $spacers: padded pad-top pad-right pad-bottom pad-left); }
      .no-margin-desktop, .no-gap-desktop { @include helper_reset(margin, $spacers: gapped gap-top gap-right gap-bottom gap-left); }
      .no-border-desktop { border: 0; }
      @if $spacer-classes {
        .padded-desktop         { @include _padded;
          &.double              { @include _padded(2); }
          &.triple              { @include _padded(3); }
        }
        .pad-top-desktop        { @include _pad-top;
          &.double              { @include _pad-top(2); }
          &.triple              { @include _pad-top(3); }
        }
        .pad-right-desktop      { @include _pad-right;
          &.double              { @include _pad-right(2); }
          &.triple              { @include _pad-right(3); }
        }
        .pad-bottom-desktop     { @include _pad-bottom;
          &.double              { @include _pad-bottom(2); }
          &.triple              { @include _pad-bottom(3); }
        }
        .pad-left-desktop       { @include _pad-left;
          &.double              { @include _pad-left(2); }
          &.triple              { @include _pad-left(3); }
        }
        .gapped-desktop         { @include _gapped;
          &.double              { @include _gapped(2); }
          &.triple              { @include _gapped(3); }
        }
        .gap-top-desktop        { @include _gap-top;
          &.double              { @include _gap-top(2); }
          &.triple              { @include _gap-top(3); }
        }
        .gap-right-desktop      { @include _gap-right;
          &.double              { @include _gap-right(2); }
          &.triple              { @include _gap-right(3); }
        }
        .gap-bottom-desktop     { @include _gap-bottom;
          &.double              { @include _gap-bottom(2); }
          &.triple              { @include _gap-bottom(3); }
        }
        .gap-left-desktop       { @include _gap-left;
          &.double              { @include _gap-left(2); }
          &.triple              { @include _gap-left(3); }
        }
        .offset-desktop         { @include _offset;
          &.double              { @include _offset(2); }
          &.triple              { @include _offset(3); }
        }
        .offset-top-desktop     { @include _offset-top;
          &.double              { @include _offset-top(2); }
          &.triple              { @include _offset-top(3); }
        }
        .offset-right-desktop   { @include _offset-right;
          &.double              { @include _offset-right(2); }
          &.triple              { @include _offset-right(3); }
        }
        .offset-bottom-desktop  { @include _offset-bottom;
          &.double              { @include _offset-bottom(2); }
          &.triple              { @include _offset-bottom(3); }
        }
        .offset-left-desktop    { @include _offset-left;
          &.double              { @include _offset-left(2); }
          &.triple              { @include _offset-left(3); }
        }
      }
      @if $positioning-classes {
        .fixed-desktop           { @include _fixed; }
        .fixed-top-desktop       { @include _fixed(top); }
        .fixed-right-desktop     { @include _fixed(right); }
        .fixed-bottom-desktop    { @include _fixed(bottom); }
        .fixed-left-desktop      { @include _fixed(left); }
        .fixed-middle-desktop    { @include _fixed(middle); }
        .fixed-center-desktop    { @include _fixed(center); }
        .absolute-desktop        { @include _absolute; }
        .absolute-top-desktop    { @include _absolute(top); }
        .absolute-right-desktop  { @include _absolute(right); }
        .absolute-bottom-desktop { @include _absolute(bottom); }
        .absolute-left-desktop   { @include _absolute(left); }
        .absolute-middle-desktop { @include _absolute(middle); }
        .absolute-center-desktop { @include _absolute(center); }
        .static-desktop          { @include _static; }
      }
      @if $layout-classes {
        .inline-desktop          { @include _inline; }
        .block-desktop           { @include _block; }
        .clear-desktop           { @include _clear; }
        .center-desktop          { @include _center; }
        .pull-right-desktop      { @include _pull-right; }
        .pull-left-desktop       { @include _pull-left; }
        .pull-none-desktop       { @include _pull-none; }
      }
      @if $border-classes {
        .bordered-desktop        { @include _bordered; }
        .border-top-desktop      { @include _border-top; }
        .border-right-desktop    { @include _border-right; }
        .border-bottom-desktop   { @include _border-bottom; }
        .border-left-desktop     { @include _border-left; }
      }
      @if $typography-helpers {
        .align-top-desktop       { @include _align-top; }
        .align-right-desktop     { @include _align-right; }
        .align-bottom-desktop    { @include _align-bottom; }
        .align-left-desktop      { @include _align-left; }
        .align-center-desktop    { @include _align-center; }
        .justify-desktop         { @include _justify; }
        .truncate-desktop        { @include _truncate; }
      }
      @if $rotation-classes {
        .rotate-90-desktop       { @include _rotate-90; }
        .rotate-90-ctr-desktop   { @include _rotate-90-ctr; }
        .rotate-180-desktop      { @include _rotate-180; }
        .rotate-180-ctr-desktop  { @include _rotate-180-ctr; }
        .rotate-270-desktop      { @include _rotate-270; }
        .rotate-270-ctr-desktop  { @include _rotate-270-ctr; }
        .rotate-360-desktop      { @include _rotate-360; }
        .rotate-360-ctr-desktop  { @include _rotate-360-ctr; }
      }
      @if $multi-column-classes {
        @for $i from 1 through length($multi-column-names) {
          .#{nth($multi-column-names, $i)}-desktop, .#{nth($multi-column-names, $i)}s-desktop {
            @include _multi-column($i);
          }
        }
      }
      @content;
    }
  }
}


///////////////////////
//      desktop      //
///////////////////////

@if $responsive {
  @include desktop {
    // do not remove -- required for desktop helpers
  }
}
