// =============================================
//                  Mobile
//          Last Updated:2013-8-16
// =============================================

$responsive: true !default;


@mixin mobile {
  @if $responsive {
    @media #{$mobile} {
      // responsive grid
      @include grid-responsive(false);
      // conditional helpers
      .mobile-only { display: block !important; }
      span.mobile-only { display: inline !important; }
      .hide-on-small-tablet { display: block !important; }
      span.hide-on-small-tablet { display: inline !important; }
      .small-tablet-only { display: none !important; }
      span.small-tablet-only { display: none !important; }
      .hide-on-mobile { display: none !important; }
      .desktop-only { display: none !important; }
      // spacer overrides
      .zero-mobile { @include helper_reset(); }
      .no-padding-mobile, .no-pad-mobile { @include helper_reset(padding, $spacers: padded pad-top pad-right pad-bottom pad-left); }
      .no-margin-mobile, .no-gap-mobile { @include helper_reset(margin, $spacers: gapped gap-top gap-right gap-bottom gap-left); }
      .no-border-mobile { border: 0; }
      @if $spacer-classes {
        .padded-mobile        { @include _padded;
          &.double            { @include _padded(2); }
          &.triple            { @include _padded(3); }
        }
        .pad-top-mobile       { @include _pad-top;
          &.double            { @include _pad-top(2); }
          &.triple            { @include _pad-top(3); }
        }
        .pad-right-mobile     { @include _pad-right;
          &.double            { @include _pad-right(2); }
          &.triple            { @include _pad-right(3); }
        }
        .pad-bottom-mobile    { @include _pad-bottom;
          &.double            { @include _pad-bottom(2); }
          &.triple            { @include _pad-bottom(3); }
        }
        .pad-left-mobile      { @include _pad-left;
          &.double            { @include _pad-left(2); }
          &.triple            { @include _pad-left(3); }
        }
        .gapped-mobile        { @include _gapped;
          &.double            { @include _gapped(2); }
          &.triple            { @include _gapped(3); }
        }
        .gap-top-mobile       { @include _gap-top;
          &.double            { @include _gap-top(2); }
          &.triple            { @include _gap-top(3); }
        }
        .gap-right-mobile     { @include _gap-right;
          &.double            { @include _gap-right(2); }
          &.triple            { @include _gap-right(3); }
        }
        .gap-bottom-mobile    { @include _gap-bottom;
          &.double            { @include _gap-bottom(2); }
          &.triple            { @include _gap-bottom(3); }
        }
        .gap-left-mobile      { @include _gap-left;
          &.double            { @include _gap-left(2); }
          &.triple            { @include _gap-left(3); }
        }
        .offset-mobile        { @include _offset;
          &.double            { @include _offset(2); }
          &.triple            { @include _offset(3); }
        }
        .offset-top-mobile    { @include _offset-top;
          &.double            { @include _offset-top(2); }
          &.triple            { @include _offset-top(3); }
        }
        .offset-right-mobile  { @include _offset-right;
          &.double            { @include _offset-right(2); }
          &.triple            { @include _offset-right(3); }
        }
        .offset-bottom-mobile { @include _offset-bottom;
          &.double            { @include _offset-bottom(2); }
          &.triple            { @include _offset-bottom(3); }
        }
        .offset-left-mobile   { @include _offset-left;
          &.double            { @include _offset-left(2); }
          &.triple            { @include _offset-left(3); }
        }
      }
      @if $positioning-classes {
        .fixed-mobile           { @include _fixed; }
        .fixed-top-mobile       { @include _fixed(top); }
        .fixed-right-mobile     { @include _fixed(right); }
        .fixed-bottom-mobile    { @include _fixed(bottom); }
        .fixed-left-mobile      { @include _fixed(left); }
        .fixed-middle-mobile    { @include _fixed(middle); }
        .fixed-center-mobile    { @include _fixed(center); }
        .absolute-mobile        { @include _absolute; }
        .absolute-top-mobile    { @include _absolute(top); }
        .absolute-right-mobile  { @include _absolute(right); }
        .absolute-bottom-mobile { @include _absolute(bottom); }
        .absolute-left-mobile   { @include _absolute(left); }
        .absolute-middle-mobile { @include _absolute(middle); }
        .absolute-center-mobile { @include _absolute(center); }
        .static-mobile          { @include _static; }
      }
      @if $layout-classes {
        .inline-mobile          { @include _inline; }
        .block-mobile           { @include _block; }
        .clear-mobile           { @include _clear; }
        .center-mobile          { @include _center; }
        .pull-right-mobile      { @include _pull-right; }
        .pull-left-mobile       { @include _pull-left; }
        .pull-none-mobile       { @include _pull-none; }
      }
      @if $border-classes {
        .bordered-mobile        { @include _bordered; }
        .border-top-mobile      { @include _border-top; }
        .border-right-mobile    { @include _border-right; }
        .border-bottom-mobile   { @include _border-bottom; }
        .border-left-mobile     { @include _border-left; }
      }
      @if $typography-helpers {
        .align-top-mobile       { @include _align-top; }
        .align-right-mobile     { @include _align-right; }
        .align-bottom-mobile    { @include _align-bottom; }
        .align-left-mobile      { @include _align-left; }
        .align-center-mobile    { @include _align-center; }
        .justify-mobile         { @include _justify; }
        .truncate-mobile        { @include _truncate; }
      }
      @if $rotation-classes {
        .rotate-90-mobile       { @include _rotate-90; }
        .rotate-90-ctr-mobile   { @include _rotate-90-ctr; }
        .rotate-180-mobile      { @include _rotate-180; }
        .rotate-180-ctr-mobile  { @include _rotate-180-ctr; }
        .rotate-270-mobile      { @include _rotate-270; }
        .rotate-270-ctr-mobile  { @include _rotate-270-ctr; }
        .rotate-360-mobile      { @include _rotate-360; }
        .rotate-360-mobile      { @include _rotate-360-ctr; }
      }
      @if $multi-column-classes {
        @for $i from 1 through length($multi-column-names) {
          .#{nth($multi-column-names, $i)}-mobile, .#{nth($multi-column-names, $i)}s-mobile {
            @include _multi-column($i);
          }
        }
      }
      @content;
    }
  }
}


///////////////////////
//      mobile       //
///////////////////////

@if $responsive {
  @include mobile {
    // do not remove -- required for mobile helpers
    @if $navigation-classes {
      @include hamburger-mode();
    }
  }
}
