---
layout: default
---

<div class="grid-space-large">

  <section>
    <div class="pad-vert-medium text-align-center">
      <h1>Containers</h1>
      <div class="grid">
        <div class="column">
          <code>.container</code>
          <div data-class=".container" class="demo wintermint pad-top-small container"></div>
        </div>
        {% for size in site.data.helpers.containers %}
          <div class="column">
            <code>.container-{{ size }}</code>
            <div data-class=".container-{{ size }}" class="demo wintermint pad-top-small container-{{ size }}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section>
    <div class="container pad-vert-medium border-top">
      {% for spacing_type in site.data.helpers.spacing_types %}
        <div class="grid-space-large">
          {% for direction in site.data.helpers.directions %}
            <div class="column">
              {% assign spacing_prop = direction %}
              <h1>{{ spacing_type | capitalize }} {{ direction | capitalize }}</h1>
              <div class="grid-2-at-medium grid-3-at-large">
                {% for size in site.data.helpers.spacing %}
                  {% assign spacing_size = size %}
                  {% assign spacing_class = spacing_type | append: '-' | append: spacing_size %}
                  {% if spacing_prop != '' %}
                    {% assign spacing_class = spacing_type | append: '-' | append: spacing_prop | append: '-' | append: spacing_size %}
                  {% endif %}
                  <div class="column">
                    <div class="grid-2">
                      <div class="column">
                        <code>.{{ spacing_class }}</code>
                      </div>
                      <div class="column">
                        {% if spacing_type == 'pad' %}
                          <div data-class=".{{ spacing_class }}" class="demo display-inline-block spearmint {{ spacing_class }}">
                            <div class="demo pad-xx-small"></div>
                          </div>
                        {% else %}
                          <div class="demo display-inline-block peppermint">
                            <div data-class=".{{ spacing_class }}" class="demo pad-xx-small {{ spacing_class }}"></div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
</div>
