// =============================================
//             CSS Animations
//          Last Updated:2013-8-9
// =============================================


@charset "UTF-8";

body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  backface-visibility: hidden;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@import "bounce";
@import "fade";
@import "flash";
@import "flip";
@import "hinge";
@import "lightspeed";
@import "pulse";
@import "roll";
@import "rotate";
@import "shake";
@import "spin";
@import "swing";
@import "tada";
@import "wiggle";
@import "wobble";
