// =============================================
//             Flexbox Helpers
//          Last Updated:2013-6-28
// =============================================


@mixin flex-wrapper() {
  display: flex;
}

@mixin flex-box($values: 1) {
  width: percent(1/$values);
  flex: $values;
}

@mixin flex-order($val) {
  order: $val;
}

@mixin vertical-center() {
  display: box;
  box-orient: vertical;
  box-pack: center;
}


%flex-wrapper {
  @include flex-wrapper();
}

%flex-box {
  @include flex-box();
}

%vertical-center {
  @include vertical-center();
}

@if $flexbox-classes {
  .flex-wrapper {
    @extend %flex-wrapper;
  }
  .flex-box {
    @extend %flex-box;
  }
  .vertical-center {
    @extend %vertical-center;
  }
}
