// =============================================
//            Framework Defaults
//          Last Updated:2013-10-20
// =============================================


// framework configuration
$root_path:                   "../" !default;      // path to HTML document root (relative from CSS)
$images_path:                 "images/" !default;  // path to images (relative from $root_path)
$fonts_path:                  "fonts/" !default;    // path to fonts (relative from $root_path)
$responsive:                  true !default;


// variables
@import "constants";
@import "palette";
@import "breakpoints";
@import "../icons/variables";


// ARIA support
$aria-selectors:              true !default;


// css reset
$reset:                       true !default;
$reset-elements:              "html" "body"
                              "div" "span" "header" "footer" "aside" "nav" "menu" "main" "section" "article" "details"
                              "h1" "h2" "h3" "h4" "h5" "h6" "p"
                              "ol" "ul" "li" "dl" "dt" "dd"
                              "em" "small" "big" "strong" "b" "u" "i" "sub" "sup" "del" "strike"
                              "q" "blockquote" "cite"
                              "time" "address"
                              "code" "pre"
                              "a" "img" "center" "hr"
                              "form" "fieldset" "legend" "label" "input" "textarea" "button"
                              "table" "caption" "tbody" "thead" "tfoot" "tr" "th" "td"
                              "iframe" "object" "canvas" "audio" "video" "embed" !default;

// global styles
$global-tags:                 true !default;


// background
$background-color:            #ffffff !default;


// breakpoints
$breakpoints:                 "mobile"  "small-tablet"  "large-tablet"  "desktop" !default;
$breakpoint-sizes:            0         30.125em        48em            64em !default;
$default-base:                nth($breakpoints, 1) !default;
$fixed-size:                  false !default;


// grid system
$container-width:             1200px !default;
$gutter:                      10px !default;
$grid-classes:                true !default;
$grid-columns:                1 2 3 4 5 6 7 8 9 10 11 12 !default;
$grid-block-classes:          true !default;
$grid-blocks:                 1 2 3 4 5 6 7 8 9 10 11 12 !default;
$grid-base:                   $default-base !default;


// multi-columns
$multi-column-classes:        true !default;
$multi-columns:               1 2 3 4 5 6 !default;


// flexible box
$flexbox-classes:             false !default;
$flexbox-helpers:             "flex-wrapper" "flex-box" "vertical-center" !default;


// web fonts
$web-font-classes:            true !default;
$web-font-names:              "source-sans-pro"
                              "museo-slab"
                              "quicksand" !default;
$web-font-files:              "sourcesanspro-regular-webfont"
                              "museo-slab-500-webfont"
                              "quicksand-regular-webfont" !default;


// typography
$font-family:                 Helvetica, Arial, Geneva, sans-serif !default;
$font-size:                   14px !default;
$line-height:                 1.5 !default;
$heading-font:                nth($web-font-names, 2) !default;
$heading-line-height:         1.3 !default;
$type-styles:                 true !default;
$type-elements:               "h1" "h2" "h3" "h4" "h5" "h6" "p"
                              "ul" "ol" "dl"
                              "q" "blockquote" "cite"
                              "small" "big"
                              "b" "strong"
                              "em"
                              "sup" "sub"
                              "del" "strike"
                              "code" "pre" !default;
$type-classes:                false !default;
$type-classnames:             "h1" "h2" "h3" "h4" "h5" "h6" "p"
                              "ul" "ol" "dl"
                              "q" "blockquote" "cite"
                              "small" "big" "large"
                              "b" "bold" "strong"
                              "em" "italic"
                              "sup" "sub"
                              "del" "strike"
                              "code" "pre"
                              "invalid" "valid"
                              "unstyled" !default;
$type-states:                 true !default;
$type-colors:                 true !default;
$styled-lists:                true !default;
$quote-font:                  nth($web-font-names, 1) !default;


// placeholder fonts
$placeholder-fonts:           true !default;
$placeholder-font-classes:    true !default;
$placeholder-font-names:      "redacted"
                              "redacted-script"
                              "redacted-script-light"
                              "redacted-script-bold" !default;
$placeholder-font-files:      "redacted-regular"
                              "redacted-script-regular"
                              "redacted-script-light"
                              "redacted-script-bold" !default;


// links
$links-underlined:            false !default;
$links-active-underlined:     true !default;


// navigation
$navigation-classes:          true !default;
$navigation-states:           "on" "active" !default;
$navigation-base:             $default-base !default;


// state modifiers
$state-name:                  "info"       "alert"       "warning"       "error"       "success"       "question"       "disabled"       !default;
$state-code:                  $info-color  $alert-color  $warning-color  $error-color  $success-color  $question-color  $disabled-color  !default;
$state-text:                  $info-text   $alert-text   $warning-text   $error-text   $success-text   $question-text   $disabled-text   !default;


// color modifiers
$modifier-name:               "green"   "blue"   "purple"   "yellow"   "orange"   "red"   "pink"   "turquoise"   "asphalt"  "charcoal"  "white"   "black" !default;
$modifier-code:               $green    $blue    $purple    $yellow    $orange    $red    $pink    $turquoise    $asphalt   $charcoal   $white    $black  !default;
$modifier-text:               $white    $white   $white     $white     $white     $white  $white   $white        $white     $white      $black    $white  !default;


// ui defaults
$ui-classes:                  true !default;
$ui-states:                   "info" "alert" "warning" "error" "success" "question" !default;
$ui-modifiers:                "dismissible" !default;
$ui-icons:                    $fa-var-info-circle $fa-var-exclamation-circle $fa-var-exclamation-triangle $fa-var-times-circle $fa-var-check-circle $fa-var-question-circle !default;
$ui-states-colors:            $info-color $alert-color $warning-color $error-color $success-color $question-color !default;
$ui-states-backgrounds:       $info-background $alert-background $warning-background $error-background $success-background $question-background !default;


// helpers
$helper-base:                 $default-base !default;


// responsive conditional content helpers
$conditional-content-classes: true !default;
$inline-conditional-helpers:  false !default;


// positioning helpers
$positioning-classes:         true !default;


// spacer helpers
$spacer-classes:              true !default;
$spacer-helpers:              "padded" "pad-top" "pad-right" "pad-bottom" "pad-left"
                              "gapped" "gap-top" "gap-right" "gap-bottom" "gap-left"
                              "offset" "offset-top" "offset-right" "offset-bottom" "offset-left" !default;
$spacer-mod-classes:          true !default;
$spacer-modifiers:            "no" "half" "double" "triple" !default;


// size helpers
$size-classes:                true !default;
$size-helpers:                "small" "medium" "large" !default;


// layout helpers
$layout-classes:              true !default;
$layout-helpers:              "inline" "inline-block" "block"
                              "hidden"
                              "zero"
                              "pull-right" "pull-left" "pull-none" "clear"
                              "center" !default;


// typography helpers
$typography-classes:          true !default;
$typography-helpers:          "align-top" "align-right" "align-bottom" "align-left" "align-center" "justify"
                              "truncate" "unstyled" !default;


// borders
$border-thickness:            1px !default;
$border-style:                solid !default;
$border:                      #{$border-thickness} #{$border-style} #{$border-color} !default;
$border-classes:              true !default;
$border-helpers:              "no-border" "bordered" "border-right" "border-left" "border-top" "border-bottom" !default;


// radius helpers
$default-radius:              4px !default;
$radius-classes:              true !default;
$radius-helpers:              "square" "rounded" "round" !default;


// rotational helpers
$rotation-classes:            true !default;
$rotation-helpers:            "rotate-90" "rotate-90-ctr" "rotate-180" "rotate-180-ctr" "rotate-270" "rotate-270-ctr" "rotate-360" "rotate-360-ctr" !default;


// transition helpers
$transition-classes:          true !default;
$default-transition-speed:    0.2s !default;

