// =============================================
//               Global Styles
//          Last Updated:2013-8-16
// =============================================

%document {
  @extend %zero;
  width: 100% !important;
  min-height: 100%;
  background: $background-color;
}

%html {
  width: 100%;
  height: 100%;
}

%hr {
  border: 0;
  border-bottom: $border-thickness $border-style $border-color;
  margin: $gutter auto;
  clear: both;
}

%img {
  max-width: 100%;
  border: none;
}

@if $global-tags {
  $elements: html hr img;
  @for $i from 1 through length($elements) {
    #{nth($elements, $i)} {
      @extend %#{nth($elements, $i)};
    }
  }
  html, body {
    @extend %document;
  }
  a img {
    @extend %img;
  }
}

