// =============================================
//               Content Boxes
//          Last Updated:2013-8-24
// =============================================

%box {
  @extend %relative, %padded;
  backgo: $button-color;
  color: $button-text;
  border: 1px solid $border-color;
  border-radius: $default-radius;
  %links {
    color: inherit;
  }
}

%box-small { @include _small; }
%box-medium { @include _medium; }
%box-large { @include _large; }
%box-square { @include _square; }
%box-rounded { @include _rounded; }
%box-round { @include _round; }

%box-info {
  background-color: $info-background;
  color: $info-color;
  border-color: $info-border;
}

%box-question {
  background-color: $question-background;
  color: $question-color;
  border-color: $question-border;
}

%box-alert {
  background-color: $alert-background;
  color: $alert-color;
  border-color: $alert-border;
}

%box-warning {
  background: $warning-background;
  color: $warning-color;
  border-color: $warning-border;
}

%box-error {
  background: $error-background;
  color: $error-color;
  border-color: $error-border;
}

%box-success {
  background: $success-background;
  color: $success-color;
  border-color: $success-border;
}

@for $i from 1 through length($modifier-name) {
  %box-#{nth($modifier-name, $i)} {
    border-color: nth($modifier-code, $i);
    background-color: lighten(nth($modifier-code, $i), 10%);
    color: nth($modifier-text, $i);
  }
}

@if $ui-classes {
  .box {
    @extend %box;
    @include box-modifiers;
  }
}
