// =============================================
//                  Buttons
//          Last Updated:2013-8-21
// =============================================

$button-tags:         true !default;
$button-classes:      true !default;
$button-modifiers:    "small" "large" "on" "active" "square" "round" "block" !default;
$button-states:       "on" "active" "disabled" "info" "alert" "warning" "error" "success" "question" !default;
$aria-selectors:      true !default;
$button-color:        lighten(gray, 32.5%) !default;
$button-text:         darken(gray, 15%) !default;
$button-border-color: lighten(gray, 27.5%) !default;
$button-active:       lighten(gray, 27.5%) !default;
$button-active-text:  darken(gray, 12%) !default;
$border-thickness:    1px !default;
$border-style:        solid !default;
$border-color:        #dddddd !default;
$default-radius:      4px !default;


%button {
  @extend %inline-block;
  word-wrap: break-word;
  padding: 0.25em 1em;
  background: $button-color;
  border: $border-thickness $border-style $button-active;
  color: $button-text;
  @include font-stack();
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  width: auto;
  height: auto;
  text-align: center;
  @include transition(background-color 0.25s ease-out);
  @include rounded($default-radius);
  &:visited {
    color: $button-text;
  }
  &:hover, &:focus {
    @extend %button-on;
  }
  .block {
    @extend %button-block;
  }
}

%button-on, %button-active {
  background: $button-active;
  text-decoration: none;
  color: $button-active-text;
}

%button-small     { @include _small; }
%button-medium    { @include _medium; }
%button-large     { @include _large; }
%button-square    { @include _square; }
%button-round     { @include _round; }

@for $i from 1 through length($modifier-name) {
  %button-#{nth($modifier-name, $i)} {
    background-color: #{nth($modifier-code, $i)};
    color: #{nth($modifier-text, $i)};
    border-color: darken(nth($modifier-code, $i), 5%);
    &.active, &:hover, &:focus {
      background: darken(nth($modifier-code, $i), 5%);
      border-color: darken(nth($modifier-code, $i), 10%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate(nth($modifier-code, $i),20%));
    }
  }
}

%button-info {
  background-color: darken($info-background, 40%);
  color: $info-text;
  border-color: darken($info-border, 40%);
  &.active, &:hover, &:focus {
    background: darken($info-background, 49%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($info-color,20%));
  }
}

%button-disabled {
  background-color: darken($disabled-background, 40%);
  color: $disabled-text;
  border-color: darken($disabled-border, 40%);
  &.active, &:hover, &:focus {
    background: darken($disabled-background, 49%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($disabled-color,20%));
  }
}

%button-alert {
  background-color: darken($alert-background, 40%);
  color: $alert-text;
  border-color: darken($alert-border, 25%);
  &.active, &:hover, &:focus {
    background: darken($alert-background, 45%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($alert-color,20%));
  }
}

%button-warning {
  background-color: darken($warning-background, 40%);
  color: $warning-text;
  border-color: darken($warning-border, 40%);
  &.active, &:hover, &:focus {
    background: darken($warning-background, 45%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($warning-color,20%));
  }
}

%button-error {
  background-color: darken($error-background, 40%);
  color: $error-text;
  border-color: darken($error-border, 40%);
  &.active, &:hover, &:focus {
    background: darken($error-background, 49%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($error-color,20%));
  }
}

%button-success {
  background-color: darken($success-background, 40%);
  color: $success-text;
  border-color: darken($success-border, 40%);
  &.active, &:hover, &:focus {
    background: darken($success-background, 49%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($success-color,20%));
  }
}

%button-question {
  background-color: darken($question-background, 40%);
  color: $question-text;
  border-color: darken($question-border, 40%);
  &.active, &:hover, &:focus {
    background: darken($question-background, 49%);
  }
  &.disabled {
    @include state(disabled,normal,desaturate($question-color,20%));
  }
}

%button-block {
  display: block;
  width: 100%;
}

%dropdown-holder {
	position: relative;
	display: inline-block;
}

%dropdown-button {
  position: relative;
  padding-right: 2em;
  &:after {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0.25em;
  }
}

%dropdown-list {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  background: white;
  border: $border-thickness $border-style $border-color;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  @include box-shadow(rgba(0,0,0,0.25), 5px, 0, 0);
  @include rounded(0 0 $default-radius $default-radius);
}

%dropdown-list-item {
  display: block;
  %dropdown-menu-item {
    display: block;
    padding: 0.5em 1em;
    border: none;
    color: $font-color;
    text-shadow: none;
    text-decoration: none;
    &:hover, &:focus {
      background: #efefef;
    }
    &.disabled {
      @include state(disabled,textOnly);
    }
  }
  &:last-child {
    @include rounded(0 0 $default-radius $default-radius);
  }
}

%dropdown-divider {
  margin: 0;
  border-color: #ececec;
}

%button-group {
  list-style: none;
  margin: 0;
  padding: 0;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  li {
    display: block;
    float: left;
    margin: 0;
    border-radius: 0;
    &:first-child a {
      border-radius: $default-radius 0 0 $default-radius;
    }
    &:last-child a {
      border-radius: 0 $default-radius $default-radius 0;
    }
    a {
      display: block;
      word-wrap: break-word;
      padding: 0.25em 1em;
      background: $button-color;
      border: $border-thickness $border-style $button-active;
      color: $button-text;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      line-height: 1.5;
      @include transition(background-color 0.25s ease-out);
      &:hover, &:focus {
        background: $button-active;
        text-decoration: none;
        // color: $button-active-text;
        border: $border-thickness $border-style $button-active;
      }
    }
  }
}

@mixin button_modifiers() {
  @for $i from 1 through length($button-modifiers) {
    &.#{nth($button-modifiers, $i)} {
      @extend %button-#{nth($button-modifiers, $i)};
    }
  }
  @for $i from 1 through length($button-states) {
    &.#{nth($button-states, $i)} {
      @extend %button-#{nth($button-states, $i)};
    }
  }
  // modifier colors
  @for $i from 1 through length($modifier-name) {
    &.#{nth($modifier-name, $i)} {
      @extend %button-#{nth($modifier-name, $i)};
    }
  }
}

@if $button-tags {
  button,
  input[type=submit],
  input[type=button],
  input[type=reset] {
    @extend %button;

    @if $button-classes {
      @include button_modifiers;
    }
  }

	.dropdown {
		@extend %dropdown-holder;
		&.on ul {
			@extend %block;
		}
		button {
			@extend %dropdown-button;
		}
		ul {
			@extend %dropdown-list;
			li {
				@extend %dropdown-list-item;
                a, a:visited {
					@extend %dropdown-menu-item;
				}
			}
		}
		hr {
			@extend %dropdown-divider;
		}
	}
}

@if $button-classes {
  .button,
  a.button,
  a.button:visited {
    @extend %button;
    @include button_modifiers;
	}
	.dropdown {
		@extend %dropdown-holder;
		&.on ul {
			@extend %block;
		}
		.button {
			@extend %dropdown-button;
		}
		ul {
			@extend %dropdown-list;
			li {
				@extend %dropdown-list-item;
                a, a:visited {
					@extend %dropdown-menu-item;
				}
			}
		}
		hr {
			@extend %dropdown-divider; 
		}
	}
  ul.button-group,
  ol.button-group {
    @extend %button-group;
    li {
      a {
        @include button_modifiers;
      }
    }
  }
}

@if $aria-selectors {
  [role~=button] {
    @extend %button;

    @if $button-classes {
      @include button_modifiers;
    }
  }
}
