extends template

block title
  title GroundworkCSS &hearts; Grid System: Selector Classes

block styles
  link(rel='stylesheet',href='css/grid-selectors.css')

block content
  .container
    .row
      article.four-fifths.three-fourths-ipad.two-thirds-small-tablet.one-half-mobile
        p
          | This article is four fifths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside.one-fifth.one-fourth-ipad.one-third-small-tablet.one-half-mobile
        p
          | This sidebar is one fifth on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.
    .row
      article.five-sevenths.three-fourths-ipad.two-thirds-small-tablet.one-half-mobile
        p
          | This article is five sevenths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside.two-sevenths.one-fourth-ipad.one-third-small-tablet.one-half-mobile
        p
          | This sidebar is two sevenths on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.
    .row
      article.eight-fourteenths.three-fourths-ipad.two-thirds-small-tablet.one-half-mobile
        p
          | This article is eight fourteenths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside.six-fourteenths.one-fourth-ipad.one-third-small-tablet.one-half-mobile
        p
          | This sidebar is six fourteenths on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.
    .row
      article.thirteen-twentieths.three-fourths-ipad.two-thirds-small-tablet.one-half-mobile
        p
          | This article is thirteen twentieths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside.seven-twentieths.one-fourth-ipad.one-third-small-tablet.one-half-mobile
        p
          | This sidebar is seven twentieths on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.


block scripts
  
