extends template

block title
  title GroundworkCSS &hearts; Grid System: Semantic

block styles
  link(rel='stylesheet',href='css/grid-semantic.css')

block content
  div(role='main')
    section
      article
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, and four fiths on desktops and up.
      aside
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, and one fith on desktops and up.
    section
      article
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, and five sevenths on desktops and up.
      aside
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, and two sevenths on desktops and up.
    section
      article
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, and eight fourteenths on desktops and up.
      aside
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, and six fourteenth on desktops and up.
    section
      article
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, and thirteen twentieths on desktops and up.
      aside
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, and seven twentieths on desktops and up.


block scripts
  
