extends template

block title
  title GroundworkCSS &hearts; Grid System: Collapse Helper Classes

block styles
  link(rel='stylesheet',href='css/grid-collapse-selectors.css')

block content
  .container
    .row
      article.four-fifths-desktop
        p
          | This article is four fifths on desktops and up.
      aside.one-fifth-desktop
        p
          | This sidebar is one fifth on desktops and up.
    .row
      article.five-sevenths-large-tablet
        p
          | This article is five sevenths on large-tablets and up.
      aside.two-sevenths-large-tablet
        p
          | This sidebar is two sevenths on large-tablets and up.
    .row
      article.eight-fourteenths-small-tablet
        p
          | This article is eight fourteenths on small-tablets and up.
      aside.six-fourteenths-small-tablet
        p
          | This sidebar is six fourteenths on small-tablets and up.
    .row
      article.thirteen-twentieths
        p
          | This article is thirteen twentieths on everything.
      aside.seven-twentieths
        p
          | This sidebar is seven twentieths on everything.


block scripts
  
