extends template

block title
  title GroundworkCSS &hearts; Grid System: Semantic

block styles
  link(rel='stylesheet',href='css/grid-semantic.css')

block content
  div(role='main')
    section
      article
        p
          | This article is four fifths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside
        p
          | This sidebar is one fifth on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.
    section
      article
        p
          | This article is five sevenths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside
        p
          | This sidebar is two sevenths on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.
    section
      article
        p
          | This article is eight fourteenths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside
        p
          | This sidebar is six fourteenths on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.
    section
      article
        p
          | This article is thirteen twentieths on desktop, three fourths on ipad, two thirds on small tablets and one half on mobile devices.
      aside
        p
          | This sidebar is seven twentieths on desktop, one fourth on ipad, one third on small tablets and one half on mobile devices.


block scripts
  
