extends template

block title
  title GroundworkCSS &hearts; Grid Blocks: Semantic

block styles
  link(rel='stylesheet',href='css/grid-blocks-semantic.css')

block content
  .container
    .row
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText
      section
        p.placeholderText

block scripts
  script(type='text/javascript', src='../js/plugins/jquery-placeholderText.js')
