extends template

block title
  title GroundworkCSS &hearts; Grid Blocks: Selector Classes

block styles
  link(rel='stylesheet',href='css/grid-blocks-selectors.css')

block content
  .container
    .row
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText
      section.four-up.three-up-ipad.two-up-small-tablet.one-up-mobile.placeholderText

block scripts
  script(type='text/javascript', src='../js/plugins/jquery-placeholderText.js')
