extends template

block title
  title GroundworkCSS &hearts; Grid System: Selector Classes

block styles
  link(rel='stylesheet',href='css/grid-selectors.css')

block content
  .container
    .row
      article.one-half-mobile.two-thirds-small-tablet.three-fourths-large-tablet.four-fifths-desktop
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, four fiths on desktops and up.
      aside.one-half-mobile.one-third-small-tablet.one-fourth-large-tablet.one-fifth-desktop
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, one fifth on desktops and up.
    .row
      article.one-half-mobile.two-thirds-small-tablet.three-fourths-large-tablet.five-sevenths-desktop
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, five sevenths on desktops and up.
      aside.one-half-mobile.one-third-small-tablet.one-fourth-large-tablet.two-sevenths
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, two sevenths on desktops and up.
    .row
      article.one-half-mobile.two-thirds-small-tablet.three-fourths-large-tablet.eight-fourteenths-desktop
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, eight fourteenths on desktops and up.
      aside.one-half-mobile.one-third-small-tablet.one-fourth-large-tablet.six-fourteenths-desktop
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, six fourteenths on desktops and up.
    .row
      article.one-half-mobile.two-thirds-small-tablet.three-fourths-large-tablet.thirteen-twentieths-desktop
        p
          | This article is one half on mobile devices and up, two thirds on small-tablets and up, three fourths on large-tablets and up, thirteen twentieths on desktops and up.
      aside.one-half-mobile.one-third-small-tablet.one-fourth-large-tablet.seven-twentieths-desktop
        p
          | This sidebar is one half on mobile devices and up, one third on small-tablets and up, one fourth on large-tablets and up, seven tewentieths on desktops and up.


block scripts
  
