extends template

block title
  title GroundworkCSS &hearts; Grid Blocks: Selector Classes

block styles
  link(rel='stylesheet',href='css/grid-blocks-selectors.css')

block content
  .container
    .row
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText
      section.one-up-mobile.two-up-small-tablet.three-up-large-tablet.four-up-desktop.placeholderText

block scripts
  script(type='text/javascript', src='../js/plugins/jquery-placeholderText.js')
