extends template

block title
  title GroundworkCSS &hearts; Buttons

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Buttons
      p Clean, accessible and easy to customize buttons.
    .row
      .one.whole.padded
        h2.AmericanTypewriter Buttons
        .row
          .one.third.padded
            h4.AverageSans Button Sizes
            p
              button.small Small Button
            p
              button Medium Button
            p
              button.large Large Button
          .one.third.padded
            h4.AverageSans Button Types
            p
              button Normal Button
            p
              button.info Info Button
            p
              button.success Success Button
            p
              button.alert Alert Button
            p
              button.warning Warning Button
            p
              button.error Error Button
          .one.third.padded
            h4.AverageSans Button Styles
            p
              button Normal Button
            p
              button.square Square Button
            p
              button.round Round Button
            p
              button.block Block Button
        h2.AmericanTypewriter Button States
        .row
          .one.third.padded
            h4.AverageSans Disabled
            p
              button.disabled(tabindex='-1') Disabled Button
            p
              button.info.disabled Disabled Info
            p
              button.success.disabled Disabled Success
            p
              button.alert.disabled Disabled Alert
            p
              button.warning.disabled Disabled Warning
            p
              button.error.disabled Disabled Error
          .one.third.padded
            h4.AverageSans Active
            p
              button.active Active Button
            p
              button.info.active Active Info
            p
              button.success.active Active Success
            p
              button.alert.active Active Alert
            p
              button.warning.active Active Warning
            p
              button.error.active Active Error
          .one.third.padded
            h4.AverageSans Colors
            p
              button.yellow Yellow Button
            p
              button.orange Orange Button
            p
              button.red Red Button
            p
              button.pink Pink Button
            p
              button.purple Purple Button
            p
              button.asphalt Asphalt Button
            p
              button.blue Blue Button
            p
              button.turquoise Turquoise Button
            p
              button.green Green Button
        h2.AmericanTypewriter Button Lists & Dropdowns
        .row
          .one.third.padded
            ul.button-list
              li
                a(href='#') Button 1
              li
                a(href='#') Button 2
              li
                a(href='#') Button 3
            br
            ul.button-list
              li
                a.blue(href='#') Button 1
              li
                a.turquoise(href='#') Button 2
              li
                a.green(href='#') Button 3
            br
          .one.third.padded
            ul.button-list
              li
                a(href='#')
                  i.icon-github-alt
              li
                a(href='#')
                  i.icon-twitter
              li
                a(href='#')
                  i.icon-linkedin-sign
              li
                a(href='#')
                  i.icon-google-plus
              li
                a(href='#')
                  i.icon-facebook-sign
              li
                a(href='#')
                  i.icon-pinterest
            br
            ul.button-list
              li
                a.yellow(href='#')
                  i.icon-github-alt
              li
                a.orange(href='#')
                  i.icon-twitter
              li
                a.red(href='#')
                  i.icon-linkedin-sign
              li
                a.pink(href='#')
                  i.icon-google-plus
              li
                a.purple(href='#')
                  i.icon-facebook-sign
              li
                a.asphalt(href='#')
                  i.icon-pinterest
            br
          .one.third.padded
              .dropdown
                button
                  | Dropdown Menu Button
                ul
                  li
                    a(href='#')
                      i.icon-home
                      |  Example Menu Item 1
                  li
                    a(href='#')
                      i.icon-envelope-alt
                      |  Example Menu Item 2
                  li
                    hr
                  li
                    a(href='#')
                      i.icon-heart
                      |  Seperated Menu Item
              br
              .dropdown.gap-top
                button.blue
                  | Dropdown Menu Button
                ul
                  li
                    a(href='#')
                      i.icon-home
                      |  Example Menu Item 1
                  li
                    a(href='#')
                      i.icon-envelope-alt
                      |  Example Menu Item 2
                  li
                    hr
                  li
                    a(href='#')
                      i.icon-heart
                      |  Seperated Menu Item
