extends template

block title
  title GroundworkCSS &hearts; Buttons

block content
  .container
    .padded
      .row
        .three.fifths.bounceInRight.animated
          h1.zero.museo-slab Buttons
          p.quicksand Easy-to-customize button styles
        .two.fifths.align-right-ipad.align-right-desktop.flipInX.animated
          p.quicksand Component Usage Example 5 of 14
          p
            a.blue.button(href='navigation.html')
              i.icon-arrow-left
              |  Back
            | 
            a.green.button(href='messages.html')
              | Next: Message Boxes 
              i.icon-arrow-right
    hr
    .row
      .one.whole.padded
        .bounceInRight.animated
          h4 Buttons
          .row
            .one.third.padded
              h4 Sizes
              p
                button.small Small Button
              p
                button Medium Button
              p
                button.large Large Button
            .one.third.padded
              h4 Types
              p
                button Normal Button
              p
                button.info Info Button
              p
                button.success Success Button
              p
                button.alert Alert Button
              p
                button.question Question Button
              p
                button.warning Warning Button
              p
                button.error Error Button
            .one.third.padded
              h4 Styles
              p
                button Normal Button
              p
                button.square Square Button
              p
                button.round Round Button
              p
                button.block Block Button
        hr
        br
        .bounceInLeft.animated
          h4 States
          .row
            .one.third.padded
              h4 Normal
              p
                button Button
              p
                button.info Info
              p
                button.success Success
              p
                button.alert Alert
              p
                button.question Question
              p
                button.warning Warning
              p
                button.error Error
            .one.third.padded
              h4 Active
              p
                button.active Active Button
              p
                button.info.active Active Info
              p
                button.success.active Active Success
              p
                button.alert.active Active Alert
              p
                button.question.active Active Question
              p
                button.warning.active Active Warning
              p
                button.error.active Active Error
            .one.third.padded
              h4 Disabled
              p
                button.disabled(tabindex='-1') Disabled Button
              p
                button.info.disabled Disabled Info
              p
                button.success.disabled Disabled Success
              p
                button.alert.disabled Disabled Alert
              p
                button.question.disabled Disabled Question
              p
                button.warning.disabled Disabled Warning
              p
                button.error.disabled Disabled Error
        hr
        br
        .bounceInRight.animated
          h4 Colors
          .row
            .one.whole
              button.yellow.gap-right.gap-bottom Yellow Button
              button.orange.gap-right.gap-bottom Orange Button
              button.red.gap-right.gap-bottom Red Button
              button.pink.gap-right.gap-bottom Pink Button
              button.purple.gap-right.gap-bottom Purple Button
              button.asphalt.gap-right.gap-bottom Asphalt Button
              button.blue.gap-right.gap-bottom Blue Button
              button.turquoise.gap-right.gap-bottom Turquoise Button
              button.green.gap-right.gap-bottom Green Button
        hr
        br
        h4 Button Groups & Dropdown Menus
        .row.bounceInLeft.animated
          .one.third.padded
            ul.button-group
              li
                a(href='#') Normal
              li
                a.disabled(href='#') Disabled
              li
                a.active(href='#') Active
            br
            ul.button-group
              li
                a.blue(href='#') Normal
              li
                a.turquoise.disabled(href='#') Disabled
              li
                a.green.active(href='#') Active
            br
          .one.third.padded
            ul.button-group
              li
                a(href='#')
                  i.icon-github-alt
              li
                a(href='#')
                  i.icon-twitter
              li
                a(href='#')
                  i.icon-linkedin-sign
              li
                a(href='#')
                  i.icon-google-plus
              li
                a(href='#')
                  i.icon-facebook-sign
              li
                a(href='#')
                  i.icon-pinterest
            br
            ul.button-group
              li
                a.yellow(href='#')
                  i.icon-github-alt
              li
                a.orange(href='#')
                  i.icon-twitter
              li
                a.red(href='#')
                  i.icon-linkedin-sign
              li
                a.pink(href='#')
                  i.icon-google-plus
              li
                a.purple(href='#')
                  i.icon-facebook-sign
              li
                a.asphalt(href='#')
                  i.icon-pinterest
            br
          .one.third.padded
            .dropdown
              button
                | Dropdown Menu Button
              ul
                li
                  a(href='#')
                    i.icon-home
                    |  Example Menu Item 1
                li
                  a(href='#')
                    i.icon-envelope-alt
                    |  Example Menu Item 2
                li
                  hr
                li
                  a(href='#')
                    i.icon-heart
                    |  Seperated Menu Item
            .dropdown.double.gap-top
              button.blue
                | Dropdown Menu Button
              ul
                li
                  a(href='#')
                    i.icon-home
                    |  Example Menu Item 1
                li
                  a(href='#')
                    i.icon-envelope-alt
                    |  Example Menu Item 2
                li
                  hr
                li
                  a(href='#')
                    i.icon-heart
                    |  Seperated Menu Item
    hr
    br
    .row.bounceInUp.animated
      .one.whole.padded
        h4 Example Usage
        .row
          .one.half
            .row
              .one.third.small-tablet.pad-top.pad-left.pad-right.align-center
                .pad-top
                  button Normal Button
              .two.thirds.small-tablet.padded
                pre(data-lang='html')
                  | <button>Normal Button</button>
          .one.half
            .row
              .one.third.small-tablet.pad-top.pad-left.pad-right.align-center
                .pad-top
                  input(type='button', value='Input Button')
              .two.thirds.small-tablet.padded
                pre(data-lang='html')
                  | <input type="button" value="Input Button" />
        .row
          .one.half
            .row
              .one.third.small-tablet.pad-top.pad-left.pad-right.align-center
                .pad-top
                  a(role='button', href='#') ARIA Role Button
              .two.thirds.small-tablet.padded
                pre(data-lang='html')
                  | <a role="button" href="#">ARIA Role Button</button>
          .one.half
            .row
              .one.third.small-tablet.pad-top.pad-left.pad-right.align-center
                .pad-top
                  a.blue.button(href='#') Blue Button
              .two.thirds.small-tablet.padded
                pre(data-lang='html')
                  | <a class="blue button" href="#">Blue Button</a>
