extends template

block title
  title GroundworkCSS &hearts; Forms

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Forms
      .row
        .one.whole.padded
          form(action='#', method='post')
            fieldset
              legend Example Form
              .row
                .one.whole.padded
                  label(for='name') First & Last Name
                  input#name(type='text', placeholder='First & Last Name')
              .row
                .one.whole.padded
                  label(for='email') Email Address
                  input#email(type='email', placeholder='you@example.com')
              .row
                .one.whole.padded
                  label(for='address') Address
                  input#address(type='text', placeholder='Street Address')
              .row
                .one.half.padded
                  input(type='text', placeholder='City')
                .one.fourth.padded
                  span.select-wrap
                    select.unselected
                      option(value='', disabled='', selected='') State
                      option(value='AL') Alabama
                      option(value='AK') Alaska
                      option(value='AZ') Arizona
                      option(value='AR') Arkansas
                      option(value='CA') California
                      option(value='CO') Colorado
                      option(value='CT') Connecticut
                      option(value='DE') Delaware
                      option(value='FL') Florida
                      option(value='GA') Georgia
                      option(value='HI') Hawaii
                      option(value='ID') Idaho
                      option(value='IL') Illinois
                      option(value='IN') Indiana
                      option(value='IA') Iowa
                      option(value='KS') Kansas
                      option(value='KY') Kentucky
                      option(value='LA') Louisiana
                      option(value='ME') Maine
                      option(value='MD') Maryland
                      option(value='MA') Massachusetts
                      option(value='MI') Michigan
                      option(value='MN') Minnesota
                      option(value='MS') Mississippi
                      option(value='MO') Missouri
                      option(value='MT') Montana
                      option(value='NE') Nebraska
                      option(value='NV') Nevada
                      option(value='NH') New Hampshire
                      option(value='NJ') New Jersey
                      option(value='NM') New Mexico
                      option(value='NY') New York
                      option(value='NC') North Carolina
                      option(value='ND') North Dakota
                      option(value='OH') Ohio
                      option(value='OK') Oklahoma
                      option(value='OR') Oregon
                      option(value='PA') Pennsylvania
                      option(value='RI') Rhode Island
                      option(value='SC') South Carolina
                      option(value='SD') South Dakota
                      option(value='TN') Tennessee
                      option(value='TX') Texas
                      option(value='UT') Utah
                      option(value='VT') Vermont
                      option(value='VA') Virginia
                      option(value='WA') Washington
                      option(value='WV') West Virginia
                      option(value='WI') Wisconsin
                      option(value='WY') Wyoming
                      option(value='AS') American Samoa
                      option(value='DC') District of Columbia
                      option(value='FM') Federated States of Micronesia
                      option(value='GU') Guam
                      option(value='MH') Marshall Islands
                      option(value='MP') Northern Mariana Islands
                      option(value='PW') Palau
                      option(value='PR') Puerto Rico
                      option(value='VI') Virgin Islands
                      option(value='AE') Armed Forces Africa
                      option(value='AA') Armed Forces Americas
                      option(value='AE') Armed Forces Canada
                      option(value='AE') Armed Forces Europe
                      option(value='AE') Armed Forces Middle East
                      option(value='AP') Armed Forces Pacific
                      option(value='AB') Alberta
                      option(value='BC') British Columbia
                      option(value='MB') Manitoba
                      option(value='NB') New Brunswick
                      option(value='NL') Newfoundland and Labrador
                      option(value='NS') Nova Scotia
                      option(value='NT') Northwest Territories
                      option(value='NU') Nunavut
                      option(value='ON') Ontario
                      option(value='PE') Prince Edward Island
                      option(value='QC') Quebec
                      option(value='SK') Saskatchewan
                      option(value='YT') Yukon Territory
                .one.fourth.padded
                  input(type='text', placeholder='Zip Code')
              .row
                .one.whole.padded
                  label(for='message') Special Instructions
                  textarea#message(placeholder='Enter your message...')
              .row
                .one.whole.padded
                  label(for='twitter') Twitter
                  .row
                    .one.half.pad-right.gap-bottom.no-pad-small-tablet
                      .row
                        .one.mobile.sixth
                          span.prefix @
                        .five.mobile.sixths
                          input#twitter(type='text', name='twitter', placeholder='username')
                    .one.half.pad-left.gap-bottom.no-pad-small-tablet
                      .row
                        .three.mobile.fifths
                          input(type='text', name='sidereel', placeholder='pick username')
                        .two.mobile.fifths
                          span.suffix @example.com
              .row
                .one.whole.padded
                  | Pick a thing:
                  ul.radio-list
                    li
                      input#thing1(type='radio', name='things', checked='')
                      label.inline(for='thing1') Thing one
                    li
                      input#thing2(type='radio', name='things')
                      label.inline(for='thing2') Thing two
              .row
                .one.whole.padded
                  button Submit
                  |  
                  button.warning Cancel
              .row
                .one.whole.padded
                  input(type='submit')
                  |  
                  input.warning(type='reset')
              .row
                .double.padded
                  h6 Small
                  a.small.button(href='#') Link
                  |  
                  button.small Button
                  |  
                  input.small(type='submit')
                  |  
                  input.small.warning(type='reset')
                  hr
                  h6 Normal
                  a.button(href='#') Link
                  |  
                  button Button
                  |  
                  input(type='submit')
                  |  
                  input.warning(type='reset')
                  hr
                  h6 Large
                  a.large.button(href='#') Link
                  |  
                  button.large Button
                  |  
                  input.large(type='submit')
                  |  
                  input.large.warning(type='reset')
              .row
                .one.whole.padded
                  input(type='checkbox', name='things', checked='')
                  | I want all the things!
          .row
            .one.whole.padded
              p.invalid
                label Invalid entry field label
                input(value='Invalid entry')
              .invalid.row
                .one.mobile.tenth
                  span.prefix @
                .nine.mobile.tenths
                  input(value='Invalid entry')
          .row
            .one.whole.padded
              p.valid
                label Valid entry field label
                input(value='Valid entry')
              .valid.row
                .one.mobile.tenth
                  span.prefix @
                .nine.mobile.tenths
                  input(value='Valid entry')
