extends template

block title
  title GroundworkCSS &hearts; Responsive/Adaptive Grid System
  style(type="text/css").
    .snippet-container {
      margin-top: 10px;
    }
    .demo .row {
      background: #f6f6f6;
    }
    .demo [class*="-whole"], 
    .demo [class*="-half"], 
    .demo [class*="-third"], .demo [class*="-thirds"],
    .demo [class*="-fourth"], .demo [class*="-fourths"],
    .demo [class*="-fifth"], .demo [class*="-fifths"],
    .demo [class*="-sixth"], .demo [class*="-sixths"],
    .demo [class*="-seventh"], .demo [class*="-sevenths"],
    .demo [class*="-eighth"], .demo [class*="-eighths"],
    .demo [class*="-ninth"], .demo [class*="-ninths"],
    .demo [class*="-tenth"], .demo [class*="-tenths"],
    .demo [class*="-eleventh"], .demo [class*="-elevenths"],
    .demo [class*="-twelfth"], .demo [class*="-twelfths"],
    .demo [class*="-up"] {
      text-align: center;
      min-height: 1em;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #1abc9c;
      border: 1px dashed white;
      margin-top: -1px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.25), 5px, 0, 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.25), 5px, 0, 0;
      box-shadow: rgba(0, 0, 0, 0.25), 5px, 0, 0;
      color: white;
      font-size: 0.8em;
    }
    .demo .row:not(.equalize) [class*="-whole"],
    .demo .row:not(.equalize) [class*="-half"],
    .demo .row:not(.equalize) [class*="-third"], .demo .row:not(.equalize) [class*="-thirds"],
    .demo .row:not(.equalize) [class*="-fourth"], .demo .row:not(.equalize) [class*="-fourths"],
    .demo .row:not(.equalize) [class*="-fifth"], .demo .row:not(.equalize) [class*="-fifths"],
    .demo .row:not(.equalize) [class*="-sixth"], .demo .row:not(.equalize) [class*="-sixths"],
    .demo .row:not(.equalize) [class*="-seventh"], .demo .row:not(.equalize) [class*="-sevenths"],
    .demo .row:not(.equalize) [class*="-eighth"], .demo .row:not(.equalize) [class*="-eighths"],
    .demo .row:not(.equalize) [class*="-ninth"], .demo .row:not(.equalize) [class*="-ninths"],
    .demo .row:not(.equalize) [class*="-tenth"], .demo .row:not(.equalize) [class*="-tenths"],
    .demo .row:not(.equalize) [class*="-eleventh"], .demo .row:not(.equalize) [class*="-elevenths"],
    .demo .row:not(.equalize) [class*="-twelfth"], .demo .row:not(.equalize) [class*="-twelfths"] {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .demo [class*="-whole-ipad"], 
    .demo [class*="-half-ipad"], 
    .demo [class*="-third-ipad"], .demo [class*="-thirds-ipad"],
    .demo [class*="-fourth-ipad"], .demo [class*="-fourths-ipad"],
    .demo [class*="-fifth-ipad"], .demo [class*="-fifths-ipad"],
    .demo [class*="-sixth-ipad"], .demo [class*="-sixths-ipad"],
    .demo [class*="-seventh-ipad"], .demo [class*="-sevenths-ipad"],
    .demo [class*="-eighth-ipad"], .demo [class*="-eighths-ipad"],
    .demo [class*="-ninth-ipad"], .demo [class*="-ninths-ipad"],
    .demo [class*="-tenth-ipad"], .demo [class*="-tenths-ipad"],
    .demo [class*="-eleventh-ipad"], .demo [class*="-elevenths-ipad"],
    .demo [class*="-twelfth-ipad"], .demo [class*="-twelfths-ipad"] {
      background: #34495e;
    }
    .demo [class*="-whole-small-tablet"], 
    .demo [class*="-half-small-tablet"], 
    .demo [class*="-third-small-tablet"], .demo [class*="-thirds-small-tablet"],
    .demo [class*="-fourth-small-tablet"], .demo [class*="-fourths-small-tablet"],
    .demo [class*="-fifth-small-tablet"], .demo [class*="-fifths-small-tablet"],
    .demo [class*="-sixth-small-tablet"], .demo [class*="-sixths-small-tablet"],
    .demo [class*="-seventh-small-tablet"], .demo [class*="-sevenths-small-tablet"],
    .demo [class*="-eighth-small-tablet"], .demo [class*="-eighths-small-tablet"],
    .demo [class*="-ninth-small-tablet"], .demo [class*="-ninths-small-tablet"],
    .demo [class*="-tenth-small-tablet"], .demo [class*="-tenths-small-tablet"],
    .demo [class*="-eleventh-small-tablet"], .demo [class*="-elevenths-small-tablet"],
    .demo [class*="-twelfth-small-tablet"], .demo [class*="-twelfths-small-tablet"] {
      background: #3498db;
    }
    .demo [class*="-whole-mobile"], 
    .demo [class*="-half-mobile"], 
    .demo [class*="-third-mobile"], .demo [class*="-third-mobile"],
    .demo [class*="-fourth-mobile"], .demo [class*="-fourths-mobile"],
    .demo [class*="-fifth-mobile"], .demo [class*="-fifths-mobile"],
    .demo [class*="-sixth-mobile"], .demo [class*="-sixths-mobile"],
    .demo [class*="-seventh-mobile"], .demo [class*="-sevenths-mobile"],
    .demo [class*="-eighth-mobile"], .demo [class*="-eighths-mobile"],
    .demo [class*="-ninth-mobile"], .demo [class*="-ninths-mobile"],
    .demo [class*="-tenth-mobile"], .demo [class*="-tenths-mobile"],
    .demo [class*="-eleventh-mobile"], .demo [class*="-elevenths-mobile"],
    .demo [class*="-twelfth-mobile"], .demo [class*="-twelfths-mobile"] {
      background: #2ecc71;
    }
    .demo.reordering [class*="-whole"], 
    .demo.reordering [class*="-half"], 
    .demo.reordering [class*="-third"], .demo.reordering [class*="-thirds"],
    .demo.reordering [class*="-fourth"], .demo.reordering [class*="-fourths"],
    .demo.reordering [class*="-fifth"], .demo.reordering [class*="-fifths"],
    .demo.reordering [class*="-sixth"], .demo.reordering [class*="-sixths"],
    .demo.reordering [class*="-seventh"], .demo.reordering [class*="-sevenths"],
    .demo.reordering [class*="-eighth"], .demo.reordering [class*="-eighths"],
    .demo.reordering [class*="-ninth"], .demo.reordering [class*="-ninths"],
    .demo.reordering [class*="-tenth"], .demo.reordering [class*="-tenths"],
    .demo.reordering [class*="-eleventh"], .demo.reordering [class*="-elevenths"],
    .demo.reordering [class*="-twelfth"], .demo.reordering [class*="-twelfths"] {
      background: #e74c3c;
    }
    .demo.centering [class*="-whole"], 
    .demo.centering [class*="-half"], 
    .demo.centering [class*="-third"], .demo.centering [class*="-thirds"],
    .demo.centering [class*="-fourth"], .demo.centering [class*="-fourths"],
    .demo.centering [class*="-fifth"], .demo.centering [class*="-fifths"],
    .demo.centering [class*="-sixth"], .demo.centering [class*="-sixths"],
    .demo.centering [class*="-seventh"], .demo.centering [class*="-sevenths"],
    .demo.centering [class*="-eighth"], .demo.centering [class*="-eighths"],
    .demo.centering [class*="-ninth"], .demo.centering [class*="-ninths"],
    .demo.centering [class*="-tenth"], .demo.centering [class*="-tenths"],
    .demo.centering [class*="-eleventh"], .demo.centering [class*="-elevenths"],
    .demo.centering [class*="-twelfth"], .demo.centering [class*="-twelfths"] {
      background: #f1c40f;
    }
    .demo.offsetting [class*="-whole"], 
    .demo.offsetting [class*="-half"], 
    .demo.offsetting [class*="-third"], .demo.offsetting [class*="-thirds"],
    .demo.offsetting [class*="-fourth"], .demo.offsetting [class*="-fourths"],
    .demo.offsetting [class*="-fifth"], .demo.offsetting [class*="-fifths"],
    .demo.offsetting [class*="-sixth"], .demo.offsetting [class*="-sixths"],
    .demo.offsetting [class*="-seventh"], .demo.offsetting [class*="-sevenths"],
    .demo.offsetting [class*="-eighth"], .demo.offsetting [class*="-eighths"],
    .demo.offsetting [class*="-ninth"], .demo.offsetting [class*="-ninths"],
    .demo.offsetting [class*="-tenth"], .demo.offsetting [class*="-tenths"],
    .demo.offsetting [class*="-eleventh"], .demo.offsetting [class*="-elevenths"],
    .demo.offsetting [class*="-twelfth"], .demo.offsetting [class*="-twelfths"] {
      background: #34495e;
    }
    .demo.equal-columns [class*="-whole"], 
    .demo.equal-columns [class*="-half"], 
    .demo.equal-columns [class*="-third"], .demo.equal-columns [class*="-thirds"],
    .demo.equal-columns [class*="-fourth"], .demo.equal-columns [class*="-fourths"],
    .demo.equal-columns [class*="-fifth"], .demo.equal-columns [class*="-fifths"],
    .demo.equal-columns [class*="-sixth"], .demo.equal-columns [class*="-sixths"],
    .demo.equal-columns [class*="-seventh"], .demo.equal-columns [class*="-sevenths"],
    .demo.equal-columns [class*="-eighth"], .demo.equal-columns [class*="-eighths"],
    .demo.equal-columns [class*="-ninth"], .demo.equal-columns [class*="-ninths"],
    .demo.equal-columns [class*="-tenth"], .demo.equal-columns [class*="-tenths"],
    .demo.equal-columns [class*="-eleventh"], .demo.equal-columns [class*="-elevenths"],
    .demo.equal-columns [class*="-twelfth"], .demo.equal-columns [class*="-twelfths"] {
      background: #3498db;
    }
    .demo .two-up-ipad[class*="-whole"], 
    .demo .two-up-ipad[class*="-half"], 
    .demo .two-up-ipad[class*="-third"], .demo .two-up-ipad[class*="-thirds"],
    .demo .two-up-ipad[class*="-fourth"], .demo .two-up-ipad[class*="-fourths"],
    .demo .two-up-ipad[class*="-fifth"], .demo .two-up-ipad[class*="-fifths"],
    .demo .two-up-ipad[class*="-sixth"], .demo .two-up-ipad[class*="-sixths"],
    .demo .two-up-ipad[class*="-seventh"], .demo .two-up-ipad[class*="-sevenths"],
    .demo .two-up-ipad[class*="-eighth"], .demo .two-up-ipad[class*="-eighths"],
    .demo .two-up-ipad[class*="-ninth"], .demo .two-up-ipad[class*="-ninths"],
    .demo .two-up-ipad[class*="-tenth"], .demo .two-up-ipad[class*="-tenths"],
    .demo .two-up-ipad[class*="-eleventh"], .demo .two-up-ipad[class*="-elevenths"],
    .demo .two-up-ipad[class*="-twelfth"], .demo .two-up-ipad[class*="-twelfths"] {
      background: #f1c40f;
    }
    .demo .two-up-small-tablet[class*="-whole"], 
    .demo .two-up-small-tablet[class*="-half"], 
    .demo .two-up-small-tablet[class*="-third"], .demo .two-up-small-tablet[class*="-thirds"],
    .demo .two-up-small-tablet[class*="-fourth"], .demo .two-up-small-tablet[class*="-fourths"],
    .demo .two-up-small-tablet[class*="-fifth"], .demo .two-up-small-tablet[class*="-fifths"],
    .demo .two-up-small-tablet[class*="-sixth"], .demo .two-up-small-tablet[class*="-sixths"],
    .demo .two-up-small-tablet[class*="-seventh"], .demo .two-up-small-tablet[class*="-sevenths"],
    .demo .two-up-small-tablet[class*="-eighth"], .demo .two-up-small-tablet[class*="-eighths"],
    .demo .two-up-small-tablet[class*="-ninth"], .demo .two-up-small-tablet[class*="-ninths"],
    .demo .two-up-small-tablet[class*="-tenth"], .demo .two-up-small-tablet[class*="-tenths"],
    .demo .two-up-small-tablet[class*="-eleventh"], .demo .two-up-small-tablet[class*="-elevenths"],
    .demo .two-up-small-tablet[class*="-twelfth"], .demo .two-up-small-tablet[class*="-twelfths"] {
      background: #e67e22;
    }
    .demo .two-up-mobile[class*="-whole"], 
    .demo .two-up-mobile[class*="-half"], 
    .demo .two-up-mobile[class*="-third"], .demo .two-up-mobile[class*="-thirds"],
    .demo .two-up-mobile[class*="-fourth"], .demo .two-up-mobile[class*="-fourths"],
    .demo .two-up-mobile[class*="-fifth"], .demo .two-up-mobile[class*="-fifths"],
    .demo .two-up-mobile[class*="-sixth"], .demo .two-up-mobile[class*="-sixths"],
    .demo .two-up-mobile[class*="-seventh"], .demo .two-up-mobile[class*="-sevenths"],
    .demo .two-up-mobile[class*="-eighth"], .demo .two-up-mobile[class*="-eighths"],
    .demo .two-up-mobile[class*="-ninth"], .demo .two-up-mobile[class*="-ninths"],
    .demo .two-up-mobile[class*="-tenth"], .demo .two-up-mobile[class*="-tenths"],
    .demo .two-up-mobile[class*="-eleventh"], .demo .two-up-mobile[class*="-elevenths"],
    .demo .two-up-mobile[class*="-twelfth"], .demo .two-up-mobile[class*="-twelfths"] {
      background: #f02475;
    }
    .demo .two-up-mobile.three-up-small-tablet {
      background: #9b59b6;
    }


block content
  .container
    .padded
      .row
        .three-fifths.collapse-on-small-tablet.bounceInRight.animated
          h1.zero.museo-slab Grid System
          p.quicksand
            | A responsive and adaptive fractional grid system created by 
            a(href='http://twitter.com/ghepting', target='_blank') Gary Hepting
        .two-fifths.collapse-on-small-tablet.align-right-ipad.align-right-desktop.flipInX.animated
            p.quicksand Component Usage Example 1 of 14
            p
              a.blue.button(href='layout-c.html', rel='prev')
                | Back
              | 
              a.green.button(href='helpers.html', rel='next')
                | Next: Helpers
    hr
    .row
      .one-whole.padded
        .bounceInLeft.animated
          h4.zero Grid Breakpoint Helpers
          p.small
            | By default, grid columns collapse into rows at the 
            code.inline $small-tablet
            |  breakpoint. The grid breakpoint helpers allow you to target the breakpoint that the grid structure should persist through.
          .row
            .one-fifth
              p Desktop Grid (default)
            .four-fifths
              .demo
                .row
                  .one-half 1/2
                  .one-half 1/2
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one half">1/2</div>
                |   <div class="one half">1/2</div>
                | </div>
          br
          .row
            .one-fifth
              p Small-Tablet Grid
            .four-fifths
              .demo
                .row
                  .one-half.one-half-small-tablet 1/2
                  .one-half.one-half-small-tablet 1/2
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one half small-tablet">1/2</div>
                |   <div class="one half small-tablet">1/2</div>
                | </div>
          br
          .row
            .one-fifth
              p Mobile Grid
            .four-fifths
              .demo
                .row
                  .one-half.no-collapse 1/2
                  .one-half.no-collapse 1/2
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one-half no-collapse">1/2</div>
                |   <div class="one-half no-collapse">1/2</div>
                | </div>
        br
        hr
        br
        .bounceInRight.animated
          h4 Grid Adapters
          .row
            .one-fifth.collapse-on-mobile
              p iPad Adapters
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-fourth.two-up-ipad 1/4 to 2-up
                  .one-fourth.two-up-ipad 1/4 to 2-up
                  .one-fourth.two-up-ipad 1/4 to 2-up
                  .one-fourth.two-up-ipad 1/4 to 2-up
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                |   <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                |   <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                |   <div class="one fourth two-up-ipad">1/4 to 2-up</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Small-Tablet Adapters
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-fourth.two-up-small-tablet 1/4 to 2-up
                  .one-fourth.two-up-small-tablet 1/4 to 2-up
                  .one-fourth.two-up-small-tablet 1/4 to 2-up
                  .one-fourth.two-up-small-tablet 1/4 to 2-up
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                |   <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                |   <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                |   <div class="one fourth two-up-small-tablet">1/4 to 2-up</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Mobile Adapters
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-fourth.two-up-mobile 1/4 to 2-up
                  .one-fourth.two-up-mobile 1/4 to 2-up
                  .one-fourth.two-up-mobile 1/4 to 2-up
                  .one-fourth.two-up-mobile 1/4 to 2-up
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                |   <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                |   <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                |   <div class="one fourth small-tablet two-up-mobile">1/4 to 2-up</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Combined Adapters
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-sixth.three-up-small-tablet.two-up-mobile 1/6 to 3-up to 2-up
                  .one-sixth.three-up-small-tablet.two-up-mobile 1/6 to 3-up to 2-up
                  .one-sixth.three-up-small-tablet.two-up-mobile 1/6 to 3-up to 2-up
                  .one-sixth.three-up-small-tablet.two-up-mobile 1/6 to 3-up to 2-up
                  .one-sixth.three-up-small-tablet.two-up-mobile 1/6 to 3-up to 2-up
                  .one-sixth.three-up-small-tablet.two-up-mobile 1/6 to 3-up to 2-up
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one-sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                |   <div class="one-sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                |   <div class="one-sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                |   <div class="one-sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                |   <div class="one-sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                |   <div class="one-sixth three-up-small-tablet two-up-mobile">1/6 to 3-up to 2-up</div>
                | </div>
        br
        hr
        br
        .bounceInLeft.animated
          h4 Grid Fractions
          .row
            .one-fifth.collapse-on-mobile
              p Halves
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-half 1/2
                  .one-half 1/2
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one half">1/2</div>
                |   <div class="one half">1/2</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Thirds
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-third 1/3
                  .two-thirds 2/3
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one third">1/3</div>
                |   <div class="two thirds">2/3</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Fourths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-fourth 1/4
                  .three-fourths 3/4
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one fourth">1/4</div>
                |   <div class="three fourths">3/4</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Fifths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-fifth 1/5
                  .three-fifths 3/5
                  .one-fifth 1/5
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one fifth">1/5</div>
                |   <div class="three fifths">3/5</div>
                |   <div class="one fifth">1/5</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Sixths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-sixth 1/6
                  .two-sixths 2/6
                  .three-sixths 3/6
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one sixth">1/6</div>
                |   <div class="two sixths">2/6</div>
                |   <div class="three sixths">3/6</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Sevenths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-seventh 1/7
                  .two-sevenths 2/7
                  .four-sevenths 4/7
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one seventh">1/7</div>
                |   <div class="two sevenths">2/7</div>
                |   <div class="four sevenths">4/7</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Eighths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-eighth 1/8
                  .two-eighths 2/8
                  .five-eighths 5/8
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one eighth">1/8</div>
                |   <div class="two eighths">2/8</div>
                |   <div class="five eighths">5/8</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Ninths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-ninth 1/9
                  .three-ninths 3/9
                  .five-ninths 5/9
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one ninth">1/9</div>
                |   <div class="three ninths">3/9</div>
                |   <div class="five ninths">5/9</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Tenths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-tenth 1/10
                  .three-tenths 3/10
                  .five-tenths 5/10
                  .one-tenth 1/10
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one tenth">1/10</div>
                |   <div class="three tenths">3/10</div>
                |   <div class="five tenths">5/10</div>
                |   <div class="one tenth">1/10</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Elevenths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-eleventh 1/11
                  .three-elevenths 3/11
                  .five-elevenths 5/11
                  .two-elevenths 2/11
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one eleventh">1/11</div>
                |   <div class="three elevenths">3/11</div>
                |   <div class="five elevenths">5/11</div>
                |   <div class="two elevenths">2/11</div>
                | </div>
          br
          .row
            .one-fifth.collapse-on-mobile
              p Twelfths
            .four-fifths.collapse-on-mobile
              .demo
                .row
                  .one-twelfth 1/12
                  .three-twelfths 3/12
                  .five-twelfths 5/12
                  .two-twelfths 2/12
                  .one-twelfth 1/12
              pre(data-lang='html')
                | <div class="row">
                |   <div class="one twelfth">1/12</div>
                |   <div class="three twelfths">3/12</div>
                |   <div class="five twelfths">5/12</div>
                |   <div class="two twelfths">2/12</div>
                |   <div class="one twelfth">1/12</div>
                | </div>
        br
        hr
        br
        .bounceInRight.animated
          h4.zero Column Shuffling/Source Reordering
          p (Adapting column ordering without changing source order)
          .demo.reordering
            .row
              .one-fifth.right-four 1/5 (first)
              .four-fifths.left-one 4/5 (last)
            pre(data-lang='html')
              | <div class="row">
              |   <div class="one fifth right-four">1/5 (first)</div>
              |   <div class="four fifths left-one">4/5 (last)</div>
              | </div>
            br
            .row
              .two-thirds.right-one 2/3 (first)
              .one-third.left-two 1/3 (last)
            pre(data-lang='html')
              | <div class="row">
              |   <div class="two thirds right-one">2/3 (first)</div>
              |   <div class="one third left-two">1/3 (last)</div>
              | </div>
            br
            .row
              .one-fourth.right-two 1/4 (first)
              .one-fourth.left-one 1/4 (second)
              .one-fourth.right-one 1/4 (third)
              .one-fourth.left-two 1/4 (fourth)
            pre(data-lang='html')
              | <div class="row">
              |   <div class="one fourth right-two">1/4 (first)</div>
              |   <div class="one fourth left-one">1/4 (second)</div>
              |   <div class="one fourth right-one">1/4 (third)</div>
              |   <div class="one fourth left-two">1/4 (fourth)</div>
              | </div>
            br
            .row
              .three-eighths.right-five 3/8 (first)
              .two-eighths.left-three 2/8 (second)
              .three-eighths.left-three 3/8 (third)
            pre(data-lang='html')
              | <div class="row">
              |   <div class="three eighths right-five">3/8 (first)</div>
              |   <div class="two eighths left-three">2/8 (second)</div>
              |   <div class="three eighths left-three">3/8 (third)</div>
              | </div>
        br
        hr
        br
        .bounceInLeft.animated
          h4 Centering
          .demo.centering
            .row
              .one-seventh.centered 1/7
            br
            .row
              .one-fifth.centered 1/5
            br
            .row
              .one-third.centered 1/3
            pre(data-lang='html')
              | <div class="row">
              |   <div class="one-seventh no-collapse centered">1/7</div>
              | </div>
              | <div class="row">
              |   <div class="one-fifth no-collapse centered">1/5</div>
              | </div>
              | <div class="row">
              |   <div class="one-third no-collapse centered">1/3</div>
              | </div>
        br
        hr
        br
        .bounceInRight.animated
          h4 Offsetting
          .offsetting.demo
            .row
              .eleven-twelfths.right-one 11
            br
            .row
              .ten-twelfths.right-two 10
            br
            .row
              .nine-twelfths.right-three 9
            br
            .row
              .eight-twelfths.right-four 8
            br
            .row
              .seven-twelfths.right-five 7
            br
            .row
              .six-twelfths.right-six 6
            br
            .row
              .one-twelfth 1
              .five-twelfths.right-six 5
            br
            .row
              .two-twelfths 2
              .four-twelfths.right-six 4
            br
            .row
              .three-twelfths 3
              .three-twelfths.right-six 3
            br
            .row
              .four-twelfths 4
              .two-twelfths.right-six 2
            br
            .row
              .five-twelfths 5
              .one-twelfth.right-six 1
            br
            .row
              .four-fifths.right-one 4/5
            br
            .row
              .eight-elevenths.right-three 8/11
            br
            .row
              .five-sevenths.right-two 5/7
            pre(data-lang='html')
              | <div class="row">
              |   <div class="eleven-twelfths no-collapse right-one">11</div>
              | </div>
              | <div class="row">
              |   <div class="ten-twelfths no-collapse right-two">10</div>
              | </div>
              | <div class="row">
              |   <div class="nine-twelfths no-collapse right-three">9</div>
              | </div>
              | <div class="row">
              |   <div class="eight-twelfths no-collapse right-four">8</div>
              | </div>
              | <div class="row">
              |   <div class="seven-twelfths no-collapse right-five">7</div>
              | </div>
              | <div class="row">
              |   <div class="six-twelfths no-collapse right-six">6</div>
              | </div>
              | <div class="row">
              |   <div class="one-twelfth no-collapse">1</div>
              |   <div class="five-twelfths no-collapse right-six">5</div>
              | </div>
              | <div class="row">
              |   <div class="two-twelfths no-collapse">2</div>
              |   <div class="four-twelfths no-collapse right-six">4</div>
              | </div>
              | <div class="row">
              |   <div class="three-twelfths no-collapse">3</div>
              |   <div class="three-twelfths no-collapse right-six">3</div>
              | </div>
              | <div class="row">
              |   <div class="four-twelfths no-collapse">4</div>
              |   <div class="two-twelfths no-collapse right-six">2</div>
              | </div>
              | <div class="row">
              |   <div class="five-twelfths no-collapse">5</div>
              |   <div class="one-twelfth no-collapse right-six">1</div>
              | </div>
              | <div class="row">
              |   <div class="four-fifths no-collapse right-one">4/5</div>
              | </div>
              | <div class="row">
              |   <div class="eight-elevenths no-collapse right-three">8/11</div>
              | </div>
              | <div class="row">
              |   <div class="five-sevenths no-collapse right-two">5/7</div>
              | </div>
        br
        hr
        br
        .bounceInUp.animated
          h4 Equal Columns
          .demo.equal-columns
            .equalize.row
              .one-third.padded
                h1 First Column
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              .one-third.padded
                h1 Second Column
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
              .one-third.padded
                h1 Third Column
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          pre(data-lang='html')
            | <div class="equalize row">
            |   <div class="one third padded">
            |     <h1>First Column</h1>
            |     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            |   </div>
            |   <div class="one third padded">
            |     <h1>Second Column</h1>
            |     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            |   </div>
            |   <div class="one third padded">
            |     <h1>Third Column</h1>
            |     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            |   </div>
            | </div>
        br
