extends template

block title
  title GroundworkCSS &hearts;

block content
  .container
    .padded
      .row
        .three.fifths.bounceInRight.animated
          h1.zero.museo-slab Rapid Prototypes and Usage Examples
          p.quicksand An introduction to how things can be done.
        .two.fifths.align-right-ipad.align-right-desktop.flipInX.animated
          p.quicksand Getting Started
          p
            a.green.button(href='layout-a.html')
              | View Example Layouts 
              i.icon-arrow-right
    hr
    .row
      .one.fourth.two-up-ipad.two-up-small-tablet.padded.bounceInDown.animated
        a(href='./layout-a.html')
          h5.asphalt.message.align-center
            .gap-top.gap-bottom
              img.round(src='../images/layout-a.gif')
              .small.turquoise.button Web Site Layout
      .one.fourth.two-up-ipad.two-up-small-tablet.padded.bounceInLeft.animated
        a(href='./layout-b.html')
          h5.yellow.message.align-center
            .gap-top.gap-bottom
              img.round(src='../images/layout-b.gif')
              .small.orange.button Image Gallery
      .one.fourth.two-up-ipad.two-up-small-tablet.padded.bounceInUp.animated
        a(href='./layout-c.html')
          h5.pink.message.align-center
            .gap-top.gap-bottom
              img.round(src='../images/layout-c.gif')
              .small.purple.button Ecommerce
      .one.fourth.two-up-ipad.two-up-small-tablet.padded.bounceInRight.animated
        a(href='./grid.html')
          h5.green.message.align-center
            .gap-top.gap-bottom
              img.round(src='../images/example-usage.gif')
              .small.asphalt.button Usage Examples
