extends template

block title
  title GroundworkCSS &hearts; Font Awesome Icons
  style(type="text/css").
    .the-icons {
      font-size: 1.1em;
      line-height: 1.5;
    }
    .the-icons i {
      font-size: 1.5em;
      margin-right: 0.25em;
    }

block content
  .container
    .padded
      .row
        .three-fifths-large-tablet.bounceInRight.animated
          h1.zero.museo-slab Font Awesome 4.0.3
          p.quicksand
            a(href='http://fontawesome.io/', target='_blank') Font Awesome
            |  is a collection of vector icons created & maintained by 
            a(href='http://twitter.com/davegandy', target='_blank') Dave Gandy
        .two-fifths-large-tablet.align-right-large-tablet.flipInX.animated
          p.quicksand Component Usage Example 11 of 14
          p
            a.blue.button(href='forms.html', rel='prev')
              | Back
            | 
            a.green.button(href='responsive-text.html', rel='next')
              | Next: Responsive Text
    hr
    .row
      .one-whole.padded
        h4 Example Usage
        .row
          .one-half-small-tablet
            .row
              .one-third.small-tablet.pad-left.pad-right.align-center
                i.fa.fa-twitter.fa-4x
              .two-thirds.small-tablet.padded
                pre(data-lang='html')
                  | <i class="fa fa-twitter fa-4x"></i>
          .one-half-small-tablet
            .row
              .one-third.small-tablet.pad-left.pad-right.align-center
                i.fa.fa-spinner.fa-spin.fa-4x
              .two-thirds.small-tablet.padded
                pre(data-lang='html')
                  | <i class="fa fa-spinner fa-spin fa-4x"></i>
        hr.triple-gap-bottom
        section#new
          h2 11 New Icons in 4.0
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rub
                |  .fa-rub
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ruble
                |  .fa-ruble
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rouble
                |  .fa-rouble
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pagelines
                |  .fa-pagelines
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-stack-exchange
                |  .fa-stack-exchange
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-o-right
                |  .fa-arrow-circle-o-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-o-left
                |  .fa-arrow-circle-o-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-left
                |  .fa-caret-square-o-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-left
                |  .fa-toggle-left
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dot-circle-o
                |  .fa-dot-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-wheelchair
                |  .fa-wheelchair
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-vimeo-square
                |  .fa-vimeo-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-try
                |  .fa-try
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-turkish-lira
                |  .fa-turkish-lira
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-square-o
                |  .fa-plus-square-o
        hr.triple-gap-bottom
        section#web-application
          h2 Web Application Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-adjust
                |  .fa-adjust
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-anchor
                |  .fa-anchor
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-archive
                |  .fa-archive
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows
                |  .fa-arrows
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows-h
                |  .fa-arrows-h
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows-v
                |  .fa-arrows-v
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-asterisk
                |  .fa-asterisk
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ban
                |  .fa-ban
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bar-chart-o
                |  .fa-bar-chart-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-barcode
                |  .fa-barcode
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bars
                |  .fa-bars
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-beer
                |  .fa-beer
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bell
                |  .fa-bell
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bell-o
                |  .fa-bell-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bolt
                |  .fa-bolt
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-book
                |  .fa-book
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bookmark
                |  .fa-bookmark
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bookmark-o
                |  .fa-bookmark-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-briefcase
                |  .fa-briefcase
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bug
                |  .fa-bug
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-building-o
                |  .fa-building-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bullhorn
                |  .fa-bullhorn
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bullseye
                |  .fa-bullseye
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-calendar
                |  .fa-calendar
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-calendar-o
                |  .fa-calendar-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-camera
                |  .fa-camera
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-camera-retro
                |  .fa-camera-retro
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-down
                |  .fa-caret-square-o-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-left
                |  .fa-caret-square-o-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-right
                |  .fa-caret-square-o-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-up
                |  .fa-caret-square-o-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-certificate
                |  .fa-certificate
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check
                |  .fa-check
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check-circle
                |  .fa-check-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check-circle-o
                |  .fa-check-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check-square
                |  .fa-check-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check-square-o
                |  .fa-check-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-circle
                |  .fa-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-circle-o
                |  .fa-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-clock-o
                |  .fa-clock-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cloud
                |  .fa-cloud
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cloud-download
                |  .fa-cloud-download
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cloud-upload
                |  .fa-cloud-upload
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-code
                |  .fa-code
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-code-fork
                |  .fa-code-fork
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-coffee
                |  .fa-coffee
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cog
                |  .fa-cog
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cogs
                |  .fa-cogs
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-comment
                |  .fa-comment
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-comment-o
                |  .fa-comment-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-comments
                |  .fa-comments
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-comments-o
                |  .fa-comments-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-compass
                |  .fa-compass
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-credit-card
                |  .fa-credit-card
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-crop
                |  .fa-crop
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-crosshairs
                |  .fa-crosshairs
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cutlery
                |  .fa-cutlery
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dashboard
                |  .fa-dashboard
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-desktop
                |  .fa-desktop
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dot-circle-o
                |  .fa-dot-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-download
                |  .fa-download
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-edit
                |  .fa-edit
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ellipsis-h
                |  .fa-ellipsis-h
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ellipsis-v
                |  .fa-ellipsis-v
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-envelope
                |  .fa-envelope
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-envelope-o
                |  .fa-envelope-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-eraser
                |  .fa-eraser
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-exchange
                |  .fa-exchange
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-exclamation
                |  .fa-exclamation
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-exclamation-circle
                |  .fa-exclamation-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-exclamation-triangle
                |  .fa-exclamation-triangle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-external-link
                |  .fa-external-link
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-external-link-square
                |  .fa-external-link-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-eye
                |  .fa-eye
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-eye-slash
                |  .fa-eye-slash
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-female
                |  .fa-female
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-fighter-jet
                |  .fa-fighter-jet
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-film
                |  .fa-film
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-filter
                |  .fa-filter
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-fire
                |  .fa-fire
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-fire-extinguisher
                |  .fa-fire-extinguisher
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-flag
                |  .fa-flag
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-flag-checkered
                |  .fa-flag-checkered
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-flag-o
                |  .fa-flag-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-flash
                |  .fa-flash
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-flask
                |  .fa-flask
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-folder
                |  .fa-folder
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-folder-o
                |  .fa-folder-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-folder-open
                |  .fa-folder-open
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-folder-open-o
                |  .fa-folder-open-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-frown-o
                |  .fa-frown-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gamepad
                |  .fa-gamepad
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gavel
                |  .fa-gavel
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gear
                |  .fa-gear
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gears
                |  .fa-gears
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gift
                |  .fa-gift
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-glass
                |  .fa-glass
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-globe
                |  .fa-globe
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-group
                |  .fa-group
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-hdd-o
                |  .fa-hdd-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-headphones
                |  .fa-headphones
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-heart
                |  .fa-heart
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-heart-o
                |  .fa-heart-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-home
                |  .fa-home
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-inbox
                |  .fa-inbox
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-info
                |  .fa-info
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-info-circle
                |  .fa-info-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-key
                |  .fa-key
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-keyboard-o
                |  .fa-keyboard-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-laptop
                |  .fa-laptop
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-leaf
                |  .fa-leaf
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-legal
                |  .fa-legal
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-lemon-o
                |  .fa-lemon-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-level-down
                |  .fa-level-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-level-up
                |  .fa-level-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-lightbulb-o
                |  .fa-lightbulb-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-location-arrow
                |  .fa-location-arrow
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-lock
                |  .fa-lock
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-magic
                |  .fa-magic
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-magnet
                |  .fa-magnet
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-mail-forward
                |  .fa-mail-forward
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-mail-reply
                |  .fa-mail-reply
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-mail-reply-all
                |  .fa-mail-reply-all
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-male
                |  .fa-male
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-map-marker
                |  .fa-map-marker
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-meh-o
                |  .fa-meh-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-microphone
                |  .fa-microphone
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-microphone-slash
                |  .fa-microphone-slash
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-minus
                |  .fa-minus
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-minus-circle
                |  .fa-minus-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-minus-square
                |  .fa-minus-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-minus-square-o
                |  .fa-minus-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-mobile
                |  .fa-mobile
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-mobile-phone
                |  .fa-mobile-phone
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-money
                |  .fa-money
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-moon-o
                |  .fa-moon-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-music
                |  .fa-music
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pencil
                |  .fa-pencil
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pencil-square
                |  .fa-pencil-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pencil-square-o
                |  .fa-pencil-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-phone
                |  .fa-phone
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-phone-square
                |  .fa-phone-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-picture-o
                |  .fa-picture-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plane
                |  .fa-plane
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus
                |  .fa-plus
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-circle
                |  .fa-plus-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-square
                |  .fa-plus-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-square-o
                |  .fa-plus-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-power-off
                |  .fa-power-off
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-print
                |  .fa-print
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-puzzle-piece
                |  .fa-puzzle-piece
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-qrcode
                |  .fa-qrcode
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-question
                |  .fa-question
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-question-circle
                |  .fa-question-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-quote-left
                |  .fa-quote-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-quote-right
                |  .fa-quote-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-random
                |  .fa-random
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-refresh
                |  .fa-refresh
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-reply
                |  .fa-reply
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-reply-all
                |  .fa-reply-all
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-retweet
                |  .fa-retweet
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-road
                |  .fa-road
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rocket
                |  .fa-rocket
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rss
                |  .fa-rss
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rss-square
                |  .fa-rss-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-search
                |  .fa-search
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-search-minus
                |  .fa-search-minus
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-search-plus
                |  .fa-search-plus
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-share
                |  .fa-share
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-share-square
                |  .fa-share-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-share-square-o
                |  .fa-share-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-shield
                |  .fa-shield
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-shopping-cart
                |  .fa-shopping-cart
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sign-in
                |  .fa-sign-in
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sign-out
                |  .fa-sign-out
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-signal
                |  .fa-signal
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sitemap
                |  .fa-sitemap
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-smile-o
                |  .fa-smile-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort
                |  .fa-sort
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-alpha-asc
                |  .fa-sort-alpha-asc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-alpha-desc
                |  .fa-sort-alpha-desc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-amount-asc
                |  .fa-sort-amount-asc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-amount-desc
                |  .fa-sort-amount-desc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-asc
                |  .fa-sort-asc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-desc
                |  .fa-sort-desc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-down
                |  .fa-sort-down
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-numeric-asc
                |  .fa-sort-numeric-asc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-numeric-desc
                |  .fa-sort-numeric-desc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sort-up
                |  .fa-sort-up
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-spinner
                |  .fa-spinner
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-square
                |  .fa-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-square-o
                |  .fa-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-star
                |  .fa-star
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-star-half
                |  .fa-star-half
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-star-half-empty
                |  .fa-star-half-empty
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-star-half-full
                |  .fa-star-half-full
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-star-half-o
                |  .fa-star-half-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-star-o
                |  .fa-star-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-subscript
                |  .fa-subscript
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-suitcase
                |  .fa-suitcase
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-sun-o
                |  .fa-sun-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-superscript
                |  .fa-superscript
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tablet
                |  .fa-tablet
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tachometer
                |  .fa-tachometer
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tag
                |  .fa-tag
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tags
                |  .fa-tags
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tasks
                |  .fa-tasks
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-terminal
                |  .fa-terminal
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-thumb-tack
                |  .fa-thumb-tack
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-thumbs-down
                |  .fa-thumbs-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-thumbs-o-down
                |  .fa-thumbs-o-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-thumbs-o-up
                |  .fa-thumbs-o-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-thumbs-up
                |  .fa-thumbs-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ticket
                |  .fa-ticket
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-times
                |  .fa-times
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-times-circle
                |  .fa-times-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-times-circle-o
                |  .fa-times-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tint
                |  .fa-tint
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-down
                |  .fa-toggle-down
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-left
                |  .fa-toggle-left
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-right
                |  .fa-toggle-right
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-up
                |  .fa-toggle-up
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-trash-o
                |  .fa-trash-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-trophy
                |  .fa-trophy
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-truck
                |  .fa-truck
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-umbrella
                |  .fa-umbrella
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-unlock
                |  .fa-unlock
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-unlock-alt
                |  .fa-unlock-alt
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-unsorted
                |  .fa-unsorted
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-upload
                |  .fa-upload
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-user
                |  .fa-user
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-users
                |  .fa-users
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-video-camera
                |  .fa-video-camera
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-volume-down
                |  .fa-volume-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-volume-off
                |  .fa-volume-off
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-volume-up
                |  .fa-volume-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-warning
                |  .fa-warning
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-wheelchair
                |  .fa-wheelchair
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-wrench
                |  .fa-wrench
        hr.triple-gap-bottom
        section#form-control
          h2 Form Control Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check-square
                |  .fa-check-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-check-square-o
                |  .fa-check-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-circle
                |  .fa-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-circle-o
                |  .fa-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dot-circle-o
                |  .fa-dot-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-minus-square
                |  .fa-minus-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-minus-square-o
                |  .fa-minus-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-square
                |  .fa-plus-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-square-o
                |  .fa-plus-square-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-square
                |  .fa-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-square-o
                |  .fa-square-o
        hr.triple-gap-bottom
        section#currency
          h2 Currency Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bitcoin
                |  .fa-bitcoin
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-btc
                |  .fa-btc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cny
                |  .fa-cny
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dollar
                |  .fa-dollar
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-eur
                |  .fa-eur
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-euro
                |  .fa-euro
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gbp
                |  .fa-gbp
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-inr
                |  .fa-inr
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-jpy
                |  .fa-jpy
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-krw
                |  .fa-krw
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-money
                |  .fa-money
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rmb
                |  .fa-rmb
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rouble
                |  .fa-rouble
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rub
                |  .fa-rub
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ruble
                |  .fa-ruble
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rupee
                |  .fa-rupee
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-try
                |  .fa-try
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-turkish-lira
                |  .fa-turkish-lira
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-usd
                |  .fa-usd
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-won
                |  .fa-won
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-yen
                |  .fa-yen
                span.text-muted (alias)
        hr.triple-gap-bottom
        section#text-editor
          h2 Text Editor Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-align-center
                |  .fa-align-center
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-align-justify
                |  .fa-align-justify
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-align-left
                |  .fa-align-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-align-right
                |  .fa-align-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bold
                |  .fa-bold
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chain
                |  .fa-chain
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chain-broken
                |  .fa-chain-broken
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-clipboard
                |  .fa-clipboard
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-columns
                |  .fa-columns
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-copy
                |  .fa-copy
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-cut
                |  .fa-cut
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dedent
                |  .fa-dedent
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-eraser
                |  .fa-eraser
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-file
                |  .fa-file
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-file-o
                |  .fa-file-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-file-text
                |  .fa-file-text
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-file-text-o
                |  .fa-file-text-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-files-o
                |  .fa-files-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-floppy-o
                |  .fa-floppy-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-font
                |  .fa-font
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-indent
                |  .fa-indent
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-italic
                |  .fa-italic
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-link
                |  .fa-link
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-list
                |  .fa-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-list-alt
                |  .fa-list-alt
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-list-ol
                |  .fa-list-ol
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-list-ul
                |  .fa-list-ul
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-outdent
                |  .fa-outdent
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-paperclip
                |  .fa-paperclip
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-paste
                |  .fa-paste
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-repeat
                |  .fa-repeat
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rotate-left
                |  .fa-rotate-left
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-rotate-right
                |  .fa-rotate-right
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-save
                |  .fa-save
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-scissors
                |  .fa-scissors
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-strikethrough
                |  .fa-strikethrough
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-table
                |  .fa-table
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-text-height
                |  .fa-text-height
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-text-width
                |  .fa-text-width
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-th
                |  .fa-th
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-th-large
                |  .fa-th-large
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-th-list
                |  .fa-th-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-underline
                |  .fa-underline
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-undo
                |  .fa-undo
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-unlink
                |  .fa-unlink
                span.text-muted (alias)
        hr.triple-gap-bottom
        section#directional
          h2 Directional Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-double-down
                |  .fa-angle-double-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-double-left
                |  .fa-angle-double-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-double-right
                |  .fa-angle-double-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-double-up
                |  .fa-angle-double-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-down
                |  .fa-angle-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-left
                |  .fa-angle-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-right
                |  .fa-angle-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-angle-up
                |  .fa-angle-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-down
                |  .fa-arrow-circle-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-left
                |  .fa-arrow-circle-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-o-down
                |  .fa-arrow-circle-o-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-o-left
                |  .fa-arrow-circle-o-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-o-right
                |  .fa-arrow-circle-o-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-o-up
                |  .fa-arrow-circle-o-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-right
                |  .fa-arrow-circle-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-circle-up
                |  .fa-arrow-circle-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-down
                |  .fa-arrow-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-left
                |  .fa-arrow-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-right
                |  .fa-arrow-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrow-up
                |  .fa-arrow-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows
                |  .fa-arrows
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows-alt
                |  .fa-arrows-alt
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows-h
                |  .fa-arrows-h
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows-v
                |  .fa-arrows-v
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-down
                |  .fa-caret-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-left
                |  .fa-caret-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-right
                |  .fa-caret-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-down
                |  .fa-caret-square-o-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-left
                |  .fa-caret-square-o-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-right
                |  .fa-caret-square-o-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-square-o-up
                |  .fa-caret-square-o-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-caret-up
                |  .fa-caret-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-circle-down
                |  .fa-chevron-circle-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-circle-left
                |  .fa-chevron-circle-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-circle-right
                |  .fa-chevron-circle-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-circle-up
                |  .fa-chevron-circle-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-down
                |  .fa-chevron-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-left
                |  .fa-chevron-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-right
                |  .fa-chevron-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-chevron-up
                |  .fa-chevron-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-hand-o-down
                |  .fa-hand-o-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-hand-o-left
                |  .fa-hand-o-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-hand-o-right
                |  .fa-hand-o-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-hand-o-up
                |  .fa-hand-o-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-long-arrow-down
                |  .fa-long-arrow-down
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-long-arrow-left
                |  .fa-long-arrow-left
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-long-arrow-right
                |  .fa-long-arrow-right
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-long-arrow-up
                |  .fa-long-arrow-up
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-down
                |  .fa-toggle-down
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-left
                |  .fa-toggle-left
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-right
                |  .fa-toggle-right
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-toggle-up
                |  .fa-toggle-up
                span.text-muted (alias)
        hr.triple-gap-bottom
        section#video-player
          h2 Video Player Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-arrows-alt
                |  .fa-arrows-alt
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-backward
                |  .fa-backward
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-compress
                |  .fa-compress
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-eject
                |  .fa-eject
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-expand
                |  .fa-expand
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-fast-backward
                |  .fa-fast-backward
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-fast-forward
                |  .fa-fast-forward
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-forward
                |  .fa-forward
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pause
                |  .fa-pause
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-play
                |  .fa-play
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-play-circle
                |  .fa-play-circle
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-play-circle-o
                |  .fa-play-circle-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-step-backward
                |  .fa-step-backward
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-step-forward
                |  .fa-step-forward
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-stop
                |  .fa-stop
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-youtube-play
                |  .fa-youtube-play
        hr.triple-gap-bottom
        section#brand
          h2.zero Brand Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-adn
                |  .fa-adn
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-android
                |  .fa-android
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-apple
                |  .fa-apple
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bitbucket
                |  .fa-bitbucket
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bitbucket-square
                |  .fa-bitbucket-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-bitcoin
                |  .fa-bitcoin
                span.text-muted (alias)
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-btc
                |  .fa-btc
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-css3
                |  .fa-css3
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dribbble
                |  .fa-dribbble
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-dropbox
                |  .fa-dropbox
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-facebook
                |  .fa-facebook
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-facebook-square
                |  .fa-facebook-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-flickr
                |  .fa-flickr
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-foursquare
                |  .fa-foursquare
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-github
                |  .fa-github
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-github-alt
                |  .fa-github-alt
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-github-square
                |  .fa-github-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-gittip
                |  .fa-gittip
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-google-plus
                |  .fa-google-plus
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-google-plus-square
                |  .fa-google-plus-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-html5
                |  .fa-html5
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-instagram
                |  .fa-instagram
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-linkedin
                |  .fa-linkedin
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-linkedin-square
                |  .fa-linkedin-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-linux
                |  .fa-linux
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-maxcdn
                |  .fa-maxcdn
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pagelines
                |  .fa-pagelines
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pinterest
                |  .fa-pinterest
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-pinterest-square
                |  .fa-pinterest-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-renren
                |  .fa-renren
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-skype
                |  .fa-skype
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-stack-exchange
                |  .fa-stack-exchange
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-stack-overflow
                |  .fa-stack-overflow
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-trello
                |  .fa-trello
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tumblr
                |  .fa-tumblr
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-tumblr-square
                |  .fa-tumblr-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-twitter
                |  .fa-twitter
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-twitter-square
                |  .fa-twitter-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-vimeo-square
                |  .fa-vimeo-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-vk
                |  .fa-vk
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-weibo
                |  .fa-weibo
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-windows
                |  .fa-windows
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-xing
                |  .fa-xing
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-xing-square
                |  .fa-xing-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-youtube
                |  .fa-youtube
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-youtube-play
                |  .fa-youtube-play
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-youtube-square
                |  .fa-youtube-square
        hr.triple-gap-bottom
        section#medical
          h2 Medical Icons
          .row.fontawesome-icon-list
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-ambulance
                |  .fa-ambulance
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-h-square
                |  .fa-h-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-hospital-o
                |  .fa-hospital-o
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-medkit
                |  .fa-medkit
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-plus-square
                |  .fa-plus-square
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-stethoscope
                |  .fa-stethoscope
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-user-md
                |  .fa-user-md
            .one-fourth-large-tablet.two-up-small-tablet
              .padded
                i.fa.fa-wheelchair
                |  .fa-wheelchair
