extends template

block title
  title GroundworkCSS Layouts: Image Gallery

block content
  .container
    .pad-left.pad-right
      h1 Image Gallery
    article.row
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/2ecc71/ffffff/&text=Image+1")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/3498db/ffffff/&text=Image+2")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/9b59b6/ffffff/&text=Image+3")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/f1c40f/ffffff/&text=Image+4")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/e67e22/ffffff/&text=Image+5")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/e74c3c/ffffff/&text=Image+6")
    article.row
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/f02475/ffffff/&text=Image+7")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/1abc9c/ffffff/&text=Image+8")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/34495e/ffffff/&text=Image+9")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/2ecc71/ffffff/&text=Image+10")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/3498db/ffffff/&text=Image+11")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/9b59b6/ffffff/&text=Image+12")
    article.row
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/f1c40f/ffffff/&text=Image+13")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/e67e22/ffffff/&text=Image+14")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/e74c3c/ffffff/&text=Image+15")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/f02475/ffffff/&text=Image+16")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/1abc9c/ffffff/&text=Image+17")
      .one.sixth.three-up-small-tablet.two-up-mobile.padded
        img(src="http://placehold.it/300x300/34495e/ffffff/&text=Image+18")
