extends template

block title
  title GroundworkCSS &hearts; Magnific Popup

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Magnific Popup
      p Beautiful, fully responsive and easily customized modals.
    .row
      .one.whole.padded
        .row
          .one.third.small-tablet
            h4 Image:
            p
              a.image.modal.button.asphalt(href='http://placekitten.com/g/200/300', title='http://placekitten.com/g/200/300') Image
            h4 Image Gallery:
            p.modal.gallery
              a.button.yellow(href='http://placekitten.com/g/200/300', title='http://placekitten.com/g/200/300') 1
              |  
              a.button.orange(href='http://placekitten.com/g/250/350', title='http://placekitten.com/g/250/350') 2
              |  
              a.button.red(href='http://placekitten.com/g/300/300', title='http://placekitten.com/g/300/300') 3
              |  
              a.button.piink(href='http://placekitten.com/g/350/250', title='http://placekitten.com/g/350/250') 4
              |  
              a.button.purple(href='http://placekitten.com/g/300/200', title='http://placekitten.com/g/300/200') 5
          .one.third.small-tablet
            h4 Inline Content:
            p
              a.modal.button.green(href='#example-modal') Inline Content
            #example-modal.mfp-hide
              img.pull-right.gap-left.gap-bottom(src='http://placekitten.com/g/200/300', alt='')
              h1 HTML Ipsum Presents
              p
                strong Pellentesque habitant morbi tristique
                | senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                em Aenean ultricies mi vitae est.
                | Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                a(href='#') Donec non enim
                | in turpis pulvinar facilisis. Ut felis.
              ol
                li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                li Aliquam tincidunt mauris eu risus.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
            p
              a.modal.button.blue(href='#subscribe') Inline Content (Form)
            #subscribe.mfp-hide
              form#subForm(action='http://groundworkcss.createsend.com/t/t/s/niuuy/', method='post')
                .row
                  .one.whole.padded
                    h4 Get notified when big things happen.
                    input#name(type='text', name='cm-name', tab-index='1', placeholder='First & Last Name')
                    br
                    input#niuuy-niuuy(type='text', name='cm-niuuy-niuuy', tab-index='2', placeholder='Email Address')
                    br
                    h3.pull-left
                      a.tooltip(href='http://github.com/groundworkcss', target='_blank', title='Follow @groundworkcss')
                        i.icon-github-alt
                      |  
                      a.tooltip(href='http://twitter.com/groundworkCSS/', target='_blank', title='Follow @GroundworkCSS')
                        i.icon-twitter
                      |  
                      a.tooltip(href='mailto:groundwork@sidereel.com', target='_blank', title='Email GroundworkCSS')
                        i.icon-envelope-alt
                    input.pull-right.blue(type='submit', value='Subscribe')
          .one.third.small-tablet
            h4 External Content (iframe):
            p
              a.modal.button.purple(href='http://placekitten.com/')
                | External Content  
                i.icon-external-link
            h4 YouTube Video (iframe):
            p
              a.modal.button.red(href='http://www.youtube.com/watch?v=eDO23-eLoGA')
                | YouTube Video  
                i.icon-play-circle
