mixin nav-structure
  ul
    li
      button Nav Item 1
    li
      button Nav Menu 1
      ul
        li
          button Menu Item 1
        li
          button Sub Menu 1
          ul
            li
              button Sub Menu Item 1
            li
              button Sub Menu Item 2
              ul
                li
                  button Sub Menu Item 1
                li
                  button Sub Menu Item 2
        li
          button Menu Item 2
    li
      button Nav Item 3

extends template

block title
  title GroundworkCSS &hearts; Navigation

block content
  .container
    .padded
      .row
        .three-fifths-large-tablet.bounceInRight.animated
          h1.zero.museo-slab Navigation
          p.quicksand Responsive navigation created by 
            a(href='http://twitter.com/ghepting', target='_blank') Gary Hepting
        .two-fifths-large-tablet.align-right-large-tablet.flipInX.animated
          p.quicksand Component Usage Example 4 of 14
          p
            a.blue.button(href='typography.html', rel='prev')
              | Back
            | 
            a.green.button(href='buttons.html', rel='next')
              | Next: Buttons
    hr
    .padded
      .bounceInLeft.animated
        h4 Target Breakpoints
        p.small
          | By default, the navigation is always mobile. The bar selector allows you to target the breakpoint at which the navigation becomes a single "bar".
        .padded
          h4 No-Bar (default)
          nav.nav(role='navigation', title='Menu')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav" title="Menu">
            |   <ul>
            |     <li><button>Nav Item 1</button></li>
            |     <li><button>Nav Menu 1</button>
            |       <ul>
            |         <li><button>Menu Item 1</button></li>
            |         <li><button>Sub Menu 1</button>
            |           <ul>
            |             <li><button>Sub Menu Item 1</button></li>
            |             <li><button>Sub Menu Item 2</button></li>
            |           </ul>
            |         </li>
            |         <li><button>Menu Item 2</button></li>
            |       </ul>
            |     </li>
            |     <li><button>Nav Item 3</button></li>
            |   </ul>
            | </nav>
        .padded
          h4 Mobile
          nav.nav.bar(role='navigation', title='Mobile Menu')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar" title="Mobile Menu">...</nav>
        .padded
          h4 Small-Tablet
          nav.nav.bar-small-tablet(role='navigation', title='Small-Tablet Menu')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar-small-tablet" title="Small-Tablet Menu">...</nav>
        .padded
          h4 Large-Tablet
          nav.nav.bar-large-tablet(role='navigation', title='Large-Tablet Menu')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar-large-tablet" title="Large-Tablet Menu">...</nav>
        .padded
          h4 Desktop
          nav.nav.bar-desktop(role='navigation', title='Desktop Menu')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar-desktop" title="Desktop Menu">...</nav>
      hr.triple-gap-bottom
      h4 Vertical Orientation
      .row
        .one-half-large-tablet.padded
          h4 Mobile
          nav.nav.bar.vertical(role='navigation')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar vertical">...</nav>
        .one-half-large-tablet.padded
          h4 Small-Tablet
          nav.nav.bar-small-tablet.vertical(title='Vertical Small-Tablet Menu', role='navigation')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar-small-tablet vertical" title="Vertical Small-Tablet Menu">...</nav>
      .row
        .one-half-large-tablet.padded
          h4 Large-Tablet
          nav.nav.bar-large-tablet.vertical(title='Vertical Large-Tablet Menu', role='navigation')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar-large-tablet vertical" title="Vertical Large-Tablet Menu">...</nav>
        .one-half-large-tablet.padded
          h4 Desktop
          nav.nav.bar-desktop.vertical(title='Vertical Desktop Menu', role='navigation')
            +nav-structure()
          br
          pre(data-lang='html')
            | <nav class="nav bar-desktop vertical" title="Vertical Desktop Menu">...</nav>
      hr.triple-gap-bottom
      h4 Colors
      .row
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.yellow(role='navigation')
            +nav-structure()
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.orange(role='navigation')
            +nav-structure()
      .row.gap-top
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.red(role='navigation')
            +nav-structure()
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.pink(role='navigation')
            +nav-structure()
      .row.gap-top
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.purple(role='navigation')
            +nav-structure()
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.asphalt(role='navigation')
            +nav-structure()
      .row.gap-top
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.blue(role='navigation')
            +nav-structure()
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.turquoise(role='navigation')
            +nav-structure()
      .row.gap-top
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.green(role='navigation')
            +nav-structure()
        .one-half-large-tablet.padded
          nav.nav.bar-large-tablet.charcoal(role='navigation')
            +nav-structure()
