extends template

block title
  title GroundworkCSS &hearts; Social Icons

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Social Icons
      p Awesome vector social icons created by Adam Fairhead at Fairhead Creative.
    .row
      .one.whole.padded
        h6.small Large Icons
        a.social-icon.behance.large.tooltip(href='#', title='.social-icon.behance.large') Behance
        |  
        a.social-icon.creativecloud.large.tooltip(href='#', title='.social-icon.creativecloud.large') Creative Cloud
        |  
        a.social-icon.dribbble.large.tooltip(href='#', title='.social-icon.dribbble.large') Dribbble
        |  
        a.social-icon.dropbox.large.tooltip(href='#', title='.social-icon.dropbox.large') Dropbox
        |  
        a.social-icon.evernote.large.tooltip(href='#', title='.social-icon.evernote.large') Evernote
        |  
        a.social-icon.facebook.large.tooltip(href='#', title='.social-icon.facebook.large') Facebook
        |  
        a.social-icon.flickr.large.tooltip(href='#', title='.social-icon.flickr.large') Flickr
        |  
        a.social-icon.github.large.tooltip(href='#', title='.social-icon.github.large') Github
        |  
        a.social-icon.googleplus.large.tooltip(href='#', title='.social-icon.googleplus.large') GooglePlus
        |  
        a.social-icon.icloud.large.tooltip(href='#', title='.social-icon.icloud.large') iCloud
        |  
        a.social-icon.linkedin.large.tooltip(href='#', title='.social-icon.linkedin.large') LinkedIn
        |  
        a.social-icon.mail.large.tooltip(href='#', title='.social-icon.mail.large') Mail
        |  
        a.social-icon.msn.large.tooltip(href='#', title='.social-icon.msn.large') MSN
        |  
        a.social-icon.pinterest.large.tooltip(href='#', title='.social-icon.pinterest.large') Pinterest
        |  
        a.social-icon.rdio.large.tooltip(href='#', title='.social-icon.rdio.large') Rdio
        |  
        a.social-icon.rss.large.tooltip(href='#', title='.social-icon.rss.large') RSS
        |  
        a.social-icon.skitch.large.tooltip(href='#', title='.social-icon.skitch.large') Skitch
        |  
        a.social-icon.skype.large.tooltip(href='#', title='.social-icon.skype.large') Skype
        |  
        a.social-icon.spotify.large.tooltip(href='#', title='.social-icon.spotify.large') Spotify
        |  
        a.social-icon.stumbleupon.large.tooltip(href='#', title='.social-icon.stumbleupon.large') StumbleUpon!
        |  
        a.social-icon.twitter.large.tooltip(href='#', title='.social-icon.twitter.large') Twitter
        |  
        a.social-icon.vimeo.large.tooltip(href='#', title='.social-icon.vimeo.large') Vimeo
        |  
        a.social-icon.youtube.large.tooltip(href='#', title='.social-icon.youtube.large') YouTube
        |  
        a.social-icon.youversion.large.tooltip(href='#', title='.social-icon.youversion.large') YouVersion
        |  
        a.social-icon.zerply.large.tooltip(href='#', title='.social-icon.zerply.large') Zerply
        |  
        a.social-icon.pocket.large.tooltip(href='#', title='.social-icon.pocket.large') Pocket App
        hr
        h6.small Medium Icons
        a.social-icon.behance.medium.tooltip(href='#', title='.social-icon.behance.medium') Behance
        |  
        a.social-icon.creativecloud.medium.tooltip(href='#', title='.social-icon.creativecloud.medium') Creative Cloud
        |  
        a.social-icon.dribbble.medium.tooltip(href='#', title='.social-icon.dribbble.medium') Dribbble
        |  
        a.social-icon.dropbox.medium.tooltip(href='#', title='.social-icon.dropbox.medium') Dropbox
        |  
        a.social-icon.evernote.medium.tooltip(href='#', title='.social-icon.evernote.medium') Evernote
        |  
        a.social-icon.facebook.medium.tooltip(href='#', title='.social-icon.facebook.medium') Facebook
        |  
        a.social-icon.flickr.medium.tooltip(href='#', title='.social-icon.flickr.medium') Flickr
        |  
        a.social-icon.github.medium.tooltip(href='#', title='.social-icon.github.medium') Github
        |  
        a.social-icon.googleplus.medium.tooltip(href='#', title='.social-icon.googleplus.medium') GooglePlus
        |  
        a.social-icon.icloud.medium.tooltip(href='#', title='.social-icon.icloud.medium') iCloud
        |  
        a.social-icon.linkedin.medium.tooltip(href='#', title='.social-icon.linkedin.medium') LinkedIn
        |  
        a.social-icon.mail.medium.tooltip(href='#', title='.social-icon.mail.medium') Mail
        |  
        a.social-icon.msn.medium.tooltip(href='#', title='.social-icon.msn.medium') MSN
        |  
        a.social-icon.pinterest.medium.tooltip(href='#', title='.social-icon.pinterest.medium') Pinterest
        |  
        a.social-icon.rdio.medium.tooltip(href='#', title='.social-icon.rdio.medium') Rdio
        |  
        a.social-icon.rss.medium.tooltip(href='#', title='.social-icon.rss.medium') RSS
        |  
        a.social-icon.skitch.medium.tooltip(href='#', title='.social-icon.skitch.medium') Skitch
        |  
        a.social-icon.skype.medium.tooltip(href='#', title='.social-icon.skype.medium') Skype
        |  
        a.social-icon.spotify.medium.tooltip(href='#', title='.social-icon.spotify.medium') Spotify
        |  
        a.social-icon.stumbleupon.medium.tooltip(href='#', title='.social-icon.stumbleupon.medium') StumbleUpon!
        |  
        a.social-icon.twitter.medium.tooltip(href='#', title='.social-icon.twitter.medium') Twitter
        |  
        a.social-icon.vimeo.medium.tooltip(href='#', title='.social-icon.vimeo.medium') Vimeo
        |  
        a.social-icon.youtube.medium.tooltip(href='#', title='.social-icon.youtube.medium') YouTube
        |  
        a.social-icon.youversion.medium.tooltip(href='#', title='.social-icon.youversion.medium') YouVersion
        |  
        a.social-icon.zerply.medium.tooltip(href='#', title='.social-icon.zerply.medium') Zerply
        |  
        a.social-icon.pocket.medium.tooltip(href='#', title='.social-icon.pocket.medium') Pocket App
        hr
        h6.small Small Icons
        a.social-icon.behance.small.tooltip(href='#', title='.social-icon.behance.small') Behance
        |  
        a.social-icon.creativecloud.small.tooltip(href='#', title='.social-icon.creativecloud.small') Creative Cloud
        |  
        a.social-icon.dribbble.small.tooltip(href='#', title='.social-icon.dribbble.small') Dribbble
        |  
        a.social-icon.dropbox.small.tooltip(href='#', title='.social-icon.dropbox.small') Dropbox
        |  
        a.social-icon.evernote.small.tooltip(href='#', title='.social-icon.evernote.small') Evernote
        |  
        a.social-icon.facebook.small.tooltip(href='#', title='.social-icon.facebook.small') Facebook
        |  
        a.social-icon.flickr.small.tooltip(href='#', title='.social-icon.flickr.small') Flickr
        |  
        a.social-icon.github.small.tooltip(href='#', title='.social-icon.github.small') Github
        |  
        a.social-icon.googleplus.small.tooltip(href='#', title='.social-icon.googleplus.small') GooglePlus
        |  
        a.social-icon.icloud.small.tooltip(href='#', title='.social-icon.icloud.small') iCloud
        |  
        a.social-icon.linkedin.small.tooltip(href='#', title='.social-icon.linkedin.small') LinkedIn
        |  
        a.social-icon.mail.small.tooltip(href='#', title='.social-icon.mail.small') Mail
        |  
        a.social-icon.msn.small.tooltip(href='#', title='.social-icon.msn.small') MSN
        |  
        a.social-icon.pinterest.small.tooltip(href='#', title='.social-icon.pinterest.small') Pinterest
        |  
        a.social-icon.rdio.small.tooltip(href='#', title='.social-icon.rdio.small') Rdio
        |  
        a.social-icon.rss.small.tooltip(href='#', title='.social-icon.rss.small') RSS
        |  
        a.social-icon.skitch.small.tooltip(href='#', title='.social-icon.skitch.small') Skitch
        |  
        a.social-icon.skype.small.tooltip(href='#', title='.social-icon.skype.small') Skype
        |  
        a.social-icon.spotify.small.tooltip(href='#', title='.social-icon.spotify.small') Spotify
        |  
        a.social-icon.stumbleupon.small.tooltip(href='#', title='.social-icon.stumbleupon.small') StumbleUpon!
        |  
        a.social-icon.twitter.small.tooltip(href='#', title='.social-icon.twitter.small') Twitter
        |  
        a.social-icon.vimeo.small.tooltip(href='#', title='.social-icon.vimeo.small') Vimeo
        |  
        a.social-icon.youtube.small.tooltip(href='#', title='.social-icon.youtube.small') YouTube
        |  
        a.social-icon.youversion.small.tooltip(href='#', title='.social-icon.youversion.small') YouVersion
        |  
        a.social-icon.zerply.small.tooltip(href='#', title='.social-icon.zerply.small') Zerply
        |  
        a.social-icon.pocket.small.tooltip(href='#', title='.social-icon.pocket.small') Pocket App
        hr
        h6.small Round Icons
        a.social-icon.twitter.round.small.tooltip(href='#', title='.social-icon.twitter.round.small') Twitter
        |  
        a.social-icon.twitter.round.medium.tooltip(href='#', title='.social-icon.twitter.round.medium') Twitter
        |  
        a.social-icon.twitter.round.large.tooltip(href='#', title='.social-icon.twitter.round.large') Twitter
        hr
        h6.small Disabled States
        a.social-icon.twitter.disabled.small.tooltip(href='#', title='.social-icon.twitter.disabled.small') Twitter
        |  
        a.social-icon.twitter.disabled.medium.tooltip(href='#', title='.social-icon.twitter.disabled.medium') Twitter
        |  
        a.social-icon.twitter.disabled.large.tooltip(href='#', title='.social-icon.twitter.disabled.large') Twitter
        hr
        h6.small Inline Social Icons (relative sizing)
        .row
          .one.whole
            h1
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 1 heading
            h2
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 2 heading
            h3
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 3 heading
            h4
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 4 heading
            h5
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 5 heading
            h6
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 6 heading
            p
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a paragraph
