extends template

block title
  title GroundworkCSS &hearts; Tables

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Tables
      p Clean and easy to customize styling for tabular data.
    .row
      .one.whole.padded
        .row
          .one.whole.padded
            table.responsive.tooltip(title='responsive data table', data-max='15')
              thead
                tr
                  th Table Heading
                  th Table Heading
                  th Table Heading
                  th Table Heading
              tbody
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
              tfoot
                tr
                  td Footer cell
                  td Footer cell
                  td Footer cell
                  td Footer cell
        .row
          .one.whole.padded
            table.responsive.tooltip(title='responsive data table', data-max='15')
              thead
                tr
                  th(data-width='40%') Table Heading
                  th(data-width='20%') Table Heading
                  th(data-width='20%') Table Heading
                  th(data-width='20%') Table Heading
              tbody
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
              tfoot
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
        .row
          .one.third.padded
            table.responsive.yellow.tooltip(title='yellow', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.orange.tooltip(title='orange', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.red.tooltip(title='red', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
        .row
          .one.third.padded
            table.responsive.pink.tooltip(title='pink', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.purple.tooltip(title='purple', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.asphalt.tooltip(title='asphalt', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
        .row
          .one.third.padded
            table.responsive.blue.tooltip(title='blue', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.turquoise.tooltip(title='turquoise', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.green.tooltip(title='green', data-max='15')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
