extends template

block title
  title GroundworkCSS &hearts; Tiles

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Tiles
      .tiles
        .row
          .one.mobile.fifth.pad-right
            select.value
              option(value='single', selected) Single
              option(value='group') Group
              option(value='corp') Corp
          .four.mobile.fifths
            .tile(data-value='single')
              i.icon-user
              | Single user
            |  
            .tile(data-value='group')
              i.icon-group
              | Small group
            |  
            .tile(data-value='corp')
              i.icon-building
              | Corporation
      hr
      h4.AverageSans Tile Colors
      .tiles
        .row
          .one.mobile.fifth.pad-right
            select.value(size='5')
              option(value='default', selected) Default
              option(value='yellow') Yellow
              option(value='orange') Orange
              option(value='red') Red
              option(value='pink') Pink
              option(value='purple') Purple
              option(value='asphalt') Asphalt
              option(value='blue') Blue
              option(value='turquoise') Turquoise
              option(value='green') Green
          .four.mobile.fifths
            .tile(data-value='default')
              i.icon-leaf
              | default
            |  
            .tile.yellow(data-value='yellow')
              i.icon-leaf
              | yellow
            |  
            .tile.orange(data-value='orange')
              i.icon-leaf
              | orange
            |  
            .tile.red(data-value='red')
              i.icon-leaf
              | red
            |  
            .tile.pink(data-value='pink')
              i.icon-leaf
              | pink
            |  
            .tile.purple(data-value='purple')
              i.icon-leaf
              | purple
            |  
            .tile.asphalt(data-value='asphalt')
              i.icon-leaf
              | asphalt
            |  
            .tile.blue(data-value='blue')
              i.icon-leaf
              | blue
            |  
            .tile.turquoise(data-value='turquoise')
              i.icon-leaf
              | turquoise
            |  
            .tile.green(data-value='green')
              i.icon-leaf
              | green

      hr
      h4.AverageSans Tile States
      .tiles
        .row
          .one.mobile.fifth.pad-right
            input.value.disabled(type='text', value='active', readonly)
          .four.mobile.fifths
            .tile.disabled(data-value='disabled')
              i.icon-leaf
              | disabled
            |  
            .tile.active(data-value='active')
              i.icon-leaf
              | active
      hr
      h4.AverageSans Tile Sizes
      .tiles
        .row
          .one.mobile.fifth.pad-right
            input.value(type='text', value='small')
          .four.mobile.fifths
            .tile.small(data-value='small')
              i.icon-leaf
              | small
            |  
            .tile.large(data-value='large')
              i.icon-leaf
              | large
            |  
            .tile.square(data-value='square')
              i.icon-leaf
              | square
            |  
            .tile.round(data-value='round')
              i.icon-leaf
              | round
      hr
      h4.AverageSans Hidden Field &amp; Custom Callback Function
      .tiles
        input.value(type='hidden', value='', id='yepNope')
        script(type='text/javascript').
          $(document).ready(function() {
            $('input#yepNope').on('change', function() {
              if($(this).val() == 'yep')
                alert("Right on!");
              else
                alert("Aww, how come?");
            });
          });
        .tile(data-value='yep')
          i.icon-thumbs-up
          | thumbs up
        |  
        .tile(data-value='nope')
          i.icon-thumbs-down
          | thumbs down
