extends template

block title
  title GroundworkCSS &hearts; Tooltips

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero Tooltips
      p Responsive tooltips with smart positioning, resizing with window resize and smart repositioning on window scroll.
    .row
      .one.whole.padded
        p
          a.tooltip(href='#', title='This tooltip comes from the `title` attribute of this link') Show me a tooltip!
        p
          input.inline.tooltip(placeholder='Name', title='This tooltip comes from the `title` attribute of this input field')
        p
          button.tooltip(title='This tooltip comes from the `title` attribute of this button') Show me a tooltip!
        p(style="line-height: 2.5;")
          button.tooltip.info(title='This tooltip inherits the `info` styles of this button') Info tooltip
          |  
          button.tooltip.alert(title='This tooltip inherits the `alert` styles of this button') Alert tooltip
          |  
          button.tooltip.warning(title='This tooltip inherits the `warning` styles of this button') Warning tooltip
          |  
          button.tooltip.error(title='This tooltip inherits the `error` styles of this button') Error tooltip
          |  
          button.tooltip.success(title='This tooltip inherits the `success` styles of this button') Success tooltip
        p(style="line-height: 2.5;")
          button.tooltip.yellow(title='This tooltip inherits the `yellow` styles of this button') Yellow tooltip
          |  
          button.tooltip.orange(title='This tooltip inherits the `orange` styles of this button') Orange tooltip
          |  
          button.tooltip.red(title='This tooltip inherits the `red` styles of this button') Red tooltip
          |  
          button.tooltip.pink(title='This tooltip inherits the `pink` styles of this button') Pink tooltip
          |  
          button.tooltip.purple(title='This tooltip inherits the `purple` styles of this button') Purple tooltip
          |  
          button.tooltip.asphalt(title='This tooltip inherits the `asphalt` styles of this button') Asphalt tooltip
          |  
          button.tooltip.blue(title='This tooltip inherits the `blue` styles of this button') Blue tooltip
          |  
          button.tooltip.turquoise(title='This tooltip inherits the `turquoise` styles of this button') Turquoise tooltip
          |  
          button.tooltip.green(title='This tooltip inherits the `green` styles of this button') Green tooltip

