extends template

block title
  title GroundworkCSS &hearts; UI Elements

block content
  .container
    .pad-left.pad-right
      h1.AverageSans.zero UI Elements
      p Common UI elements that provide user feedback or call users to take action.
    .row
      .one.whole.padded
        .row
          .one.half.pad-right.no-pad-small-tablet
            h4.AverageSans Message Boxes
            p.message This is an important message.
            p.info.message This is an info message.
            p.success.message This is a success message.
            p.alert.message This is an alert message.
            p.warning.message This is a warning message.
            p.error.message This is an error message.
            p.disabled.message This is a disabled message.
            p.dismissible.message This is a dismissible message.
          .one.half
            h4.AverageSans Colors
            p.dismissible.yellow.message This is a yellow message.
            p.dismissible.orange.message This is an orange message.
            p.dismissible.red.message This is a red message.
            p.dismissible.pink.message This is a pink message.
            p.dismissible.purple.message This is a purple message.
            p.dismissible.asphalt.message This is an asphalt message.
            p.dismissible.blue.message This is a blue message.
            p.dismissible.turquoise.message This is a turquoise message.
            p.dismissible.green.message This is a green message.
        .row
          .one.half.pad-right.no-pad-small-tablet
            h4.AverageSans Callout Boxes
            .callout
              h4 This is a default callout box
              p Use these to contain or call attention to special content.
            .info.callout
              h4 This is an info callout box
              p Use these to contain or call attention to special content.
            .success.callout
              h4 This is a success callout box
              p Use these to communicate multi-element success messages as a block.
            .alert.callout
              h4 This is an alert callout box
              p Use these to contain or call attention to special content.
            .warning.callout
              h4 This is a warning callout box
              p Use these to contain or call attention to special content.
            .error.callout
              h4 This is an error callout box
              p Use these to contain or call attention to special content.
            .disabled.callout
              h4 This is a disabled callout box
              p Use these to contain or call attention to special content.
            .dismissible.callout
              h4 This is a dismissible callout box
              p Use these to contain or call attention to special content.
          .one.half
            h4.AverageSans Colors
            .dismissible.yellow.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.orange.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.red.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.pink.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.purple.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.asphalt.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.blue.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.turquoise.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
            .dismissible.green.callout
              h4 This is a callout box
              p Use these to contain or call attention to special content.
        .row
          .one.half.pad-right.no-pad-small-tablet
            h4.AverageSans Square Boxes
            p.info.message.square This is an info message.
            .info.callout.square
              h4 This is an info callout box
              p Use these to contain or call attention to special content.
          .one.half
            h4.AverageSans Round Boxes
            p.info.message.round.align-center This is a round info message.
            .info.callout.round.align-center
              h4 This is a round info callout box
              p Use these to contain or call attention to special content.
