// =============================================
//              Test Settings
//          Last Updated:2013-10-19
// =============================================

// file paths
$root_path:                 "../../"; // path to HTML document root (relative from CSS)
$images_path:               "images/"; // path to images (relative from $root_path)
$fonts_path:                "fonts/"; // path to fonts (relative from $root_path)
