// semantic grid test settings

$grid-classes: false;

@import "test-settings";
@import "../../../src/scss/core/all-core";
@import "../../../src/scss/layout/all-layout";

// semantic grid test
[role="main"] {
  @extend %container;
}

article, aside {
  @extend %padded;
}

section {
  @extend %row;
}

section:nth-child(1) {
  article {
    @include columns($one-half $two-thirds $three-fourths $four-fifths);
  }

  aside {
    @include columns($one-half $one-third $one-fourth $one-fifth);
  }
}

section:nth-child(2) {
  article {
    @include columns($one-half $two-thirds $three-fourths $five-sevenths);
  }

  aside {
    @include columns($one-half $one-third $one-fourth $two-sevenths);
  }
}

section:nth-child(3) {
  article {
    @include columns($one-half $two-thirds $three-fourths $eight-fourteenths);
  }

  aside {
    @include columns($one-half $one-third $one-fourth $six-fourteenths);
  }
}

section:nth-child(4) {
  article {
    @include columns($one-half $two-thirds $three-fourths $thirteen-twentieths);
  }

  aside {
    @include columns($one-half $one-third $one-fourth $seven-twentieths);
  }
}

