$root_path: '../../';
$responsive: false;
@import "../../../src/scss/core/all-core";
@import "../../../src/scss/base/all-base";
@import "../../../src/scss/type/all-type";
@import "../../../src/scss/icons/all-icons";
@import "../../../src/scss/nav/all-nav";
// @import "../../../src/scss/ui/all-ui";
// @import "../../../src/scss/form/all-form";
// @import "../../../src/scss/responsive/all-responsive";

@import "demo";


.extend-button {
  @extend %button;

  $types: info alert warning error success green blue purple yellow orange red asphalt;
  @for $i from 1 through length($types) {
    &.extend-#{nth($types, $i)} {
      @extend %button-#{nth($types , $i)};
    }
  }

  $states: active disabled;
  @for $i from 1 through length($states) {
    &.extend-#{nth($states, $i)} {
      @extend %button-#{nth($states , $i)};
    }
  }

  $sizes: small large;
  @for $i from 1 through length($sizes) {
    &.extend-#{nth($sizes, $i)} {
      @extend %button-#{nth($sizes , $i)};
    }
  }

  $styles: square round block;
  @for $i from 1 through length($styles) {
    &.extend-#{nth($styles, $i)} {
      @extend %button-#{nth($styles , $i)};
    }
  }
}

// dropdown

// button list
