$root_path: '../../';
@import "../../../src/scss/core/all-core";
@import "../../../src/scss/base/all-base";
@import "../../../src/scss/type/all-type";
@import "../../../src/scss/icons/all-icons";
@import "../../../src/scss/nav/all-nav";
@import "../../../src/scss/ui/all-ui";
// @import "../../../src/scss/form/all-form";
@import "../../../src/scss/responsive/all-responsive";

@import "demo";


$elements: message callout;
$modifiers: small large info alert warning error success square round disabled dismissible;

@for $el from 1 through length($elements) {
  .extend-#{nth($elements, $el)} {
    @extend %#{nth($elements, $el)};
    @for $i from 1 through length($modifiers) {
      &.extend-#{nth($modifiers, $i)} {
        @extend %#{nth($elements, $el)}-#{nth($modifiers , $i)};
      }
    }
  }
}
