// =============================================
//              Custom Settings
//          Last Updated:2013-9-5
// =============================================

@import "core/constants";


// =============================================
//                  File Paths
// =============================================

// file paths
// $root_path:                 "../"; // path to HTML document root (relative from CSS)
// $images_path:               "images/"; // path to images (relative from $root_path)
// $fonts_path:                "fonts/"; // path to fonts (relative from $root_path)
// $boxsizing_path:            "/js/libs/boxsizing.htc"; // path to box sizing polyfill (change to absolute path from HTML document root)
// $PIE_path:                  "/js/libs/PIE.htc"; // path to IE CSS3 polyfill (change to absolute path from HTML document root)

// $oldIE:                     false; // enable polyfills for legacy IE

// =============================================
//                 Grid System
// =============================================

// grid
// $numerators:                "one"    "two"    "three"  "four"    "five"   "six"    "seven"    "eight"   "nine"   "ten"    "eleven"    "twelve";
// $denominators:              "whole"  "half"   "third"  "fourth"  "fifth"  "sixth"  "seventh"  "eighth"  "ninth"  "tenth"  "eleventh"  "twelfth";
// $denominators-plural:       "wholes" "halves" "thirds" "fourths" "fifths" "sixths" "sevenths" "eighths" "ninths" "tenths" "elevenths" "twelfths";
// $grid-classes:              true;
// $grid-adapter-classes:      true;
// $grid-adapters:             $one-whole $one-half $one-third $one-fourth $one-fifth;
// $grid-adapters-clearfix:    15;
// $container-width:           1200px;
// $gutter:                    10px;
// $responsive:                true;
// $inline-conditional-helpers: false;

// =============================================
//                  Breakpoints
// =============================================

// breakpoints
// $small-mobile:              "(max-width: 319px)";
// $iphone:                    "(min-device-width: 320px) and (max-device-width: 480px)";
// $iphone5:                   "(min-device-width: 320px) and (max-device-width: 568px)";
// $mobile:                    "(max-width: 480px)";
// $not-mobile:                "(min-width: 481px)";
// $small-tablet:              "(max-width: 767px)";
// $tablet:                    "(min-width: 768px)";
// $ipad:                      "(min-width: 768px) and (max-width:1024px)";
// $retina-ipad:               "(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)";
// $not-desktop:               "(max-width: 1024px)";
// $desktop:                   "(min-width: 1025px)";
// $retina:                    "(-webkit-min-device-pixel-ratio: 2)";


// =============================================
//                   Flexbox
// =============================================

// flexible box layout
// $flexbox-classes:           true; // enable output of flexbox classes
// $flexbox-helpers:           "flex-wrapper" "flex-box" "vertical-center";


// =============================================
//                   Buttons
// =============================================

// $button-tags:               true;
// $button-classes:            true;
// $button-modifiers:          "small" "large" "on" "active" "square" "round" "block";
// $button-states:             "on" "active" "selected" "pressed" "disabled" "info" "alert" "warning" "error" "success" "question";
// $aria-selectors:            true;
// $aria-states:               "selected" "pressed" "disabled" "readonly" "invalid";


// =============================================
//                  Animations
// =============================================

// dismissible message animation
// $dismiss-animation:         "fadeOut";

// animations
// $bounce-animations:         true;
// $fade-animations:           true;
// $flash-animations:          true;
// $flip-animations:           true;
// $hinge-animations:          true;
// $lightspeed-animations:     true;
// $pulse-animations:          true;
// $roll-animations:           true;
// $rotate-animations:         true;
// $shake-animations:          true;
// $spin-animations:           true;
// $spin-helpers:              "spin" "spin-once" "spin-twice" "spin-thrice"
//                             "spin-fast" "spin-fast-once" "spin-fast-twice" "spin-fast-thrice"
//                             "spin-slow" "spin-slow-once" "spin-slow-twice" "spin-slow-thrice";
// $swing-animations:          true;
// $tada-animations:           true;
// $wiggle-animations:         true;
// $wobble-animations:         true;


// =============================================
//                 Typography
// =============================================

// $type-tags:                 true;
// $type-elements:             "h1" "h2" "h3" "h4" "h5" "h6" "p"
//                             "ul" "ol" "dl"
//                             "q" "blockquote" "cite"
//                             "small" "big"
//                             "b" "strong"
//                             "em"
//                             "sup" "sub"
//                             "del" "strike"
//                             "code" "pre";
// $type-colors:               true;
// $type-classes:              false;
// $type-classnames:           "h1" "h2" "h3" "h4" "h5" "h6" "p"
//                             "ul" "ol" "dl"
//                             "q" "blockquote" "cite"
//                             "small" "big" "large"
//                             "b" "bold" "strong"
//                             "em" "italic"
//                             "sup" "sub"
//                             "del" "strike"
//                             "code" "pre"
//                             "invalid" "valid"
//                             "unstyled";
// $quote-color:               $font-color;
// $quote-background:          $border-color;
// $quote-font:                "source-sans-pro";
// $styled-lists:              true;
// $multi-column-classes:      true;
// $multi-column-names:        "one-column" "two-column" "three-column" "four-column" "five-column";
// $ui-states:                 "info"  "alert" "warning" "error" "success" "question";
// $ui-icons:                  "\f05a" "\f06a" "\f071"   "\f057" "\f058"   "\f059";
// $ui-states-colors:          $info-color $alert-color $warning-color $error-color $success-color $question-color;
// $ui-states-color-classes:   true;
// $font-family:               Helvetica, Arial, Geneva, sans-serif;
// $font-size:                 14px;
// $line-height:               1.5;
// $heading-line-height:       1.3;
// $headings-font:             nth($web-font-names, 1);
// $links-underlined:          false;
// $links-active-underlined:   true;
// $link-type-icons:           true;
// $link-type-colors:          true;


// =============================================
//                     Misc
// =============================================

// $default-radius:            4px;


// =============================================
//                   Helpers
// =============================================

// helpers
// $positioning-classes:       true;
// $spacer-classes:            true;
// $spacer-helpers:            "padded" "pad-top" "pad-right" "pad-bottom" "pad-left"
//                             "gapped" "gap-top" "gap-right" "gap-bottom" "gap-left"
//                             "offset" "offset-top" "offset-right" "offset-bottom" "offset-left";
// $spacer-mod-classes:        true;
// $spacer-modifiers:          "half" "double" "triple";
// $size-classes:              true;
// $size-helpers:              "small" "medium" "large";
// $layout-classes:            true;
// $layout-helpers:            "inline" "inline-block" "block"
//                             "hidden"
//                             "zero"
//                             "pull-right" "pull-left" "pull-none" "clear"
//                             "center";
// $typography-classes:        true;
// $typography-helpers:        "align-top" "align-right" "align-bottom" "align-left" "align-center" "justify"
//                             "truncate" "unstyled";
// $border-classes:            true;
// $border-helpers:            "bordered" "border-right" "border-left" "border-top" "border-bottom";
// $radius-classes:            true;
// $radius-helpers:            "square" "round";
// $rotation-classes:          true;
// $rotation-helpers:          "rotate-90" "rotate-90-ctr" "rotate-180" "rotate-180-ctr" "rotate-270" "rotate-270-ctr" "rotate-360" "rotate-360-ctr";
// $transition-classes:        true;

// =============================================
//                  CSS Reset
// =============================================

// reset
// $global-tags:               true;
// $reset:                     true;
// $reset-elements:            "html" "body"
//                             "div" "span" "header" "footer" "aside" "nav" "menu" "main" "section" "article" "details"
//                             "h1" "h2" "h3" "h4" "h5" "h6" "p"
//                             "ol" "ul" "li" "dl" "dt" "dd"
//                             "em" "small" "big" "strong" "b" "u" "i" "sub" "sup" "del" "strike"
//                             "q" "blockquote" "cite"
//                             "time" "address"
//                             "code" "pre"
//                             "a" "img" "center" "hr"
//                             "form" "fieldset" "legend" "label" "input" "textarea" "button"
//                             "table" "caption" "tbody" "thead" "tfoot" "tr" "th" "td"
//                             "iframe" "object" "canvas" "audio" "video" "embed";
