// =============================================
//                Typography
//          Last Updated:2013-8-16
// =============================================

@import "webfonts";

$type-tags:           true !default;
$type-elements:       "h1" "h2" "h3" "h4" "h5" "h6" "p"
                      "ul" "ol" "dl"
                      "q" "quote" "blockquote" "cite"
                      "small" "big"
                      "b" "strong"
                      "em"
                      "sup" "sub"
                      "del" "strike"
                      "code" "pre" !default;
$type-colors:         true !default;
$type-classes:        false !default;
$type-classnames:     "h1" "h2" "h3" "h4" "h5" "h6" "p"
                      "ul" "ol" "dl"
                      "q" "quote" "blockquote" "cite"
                      "small" "big" "large"
                      "b" "bold" "strong"
                      "em" "italic"
                      "sup" "sub"
                      "del" "strike"
                      "code" "pre"
                      "invalid" "valid"
                      "unstyled" !default;
$styled-lists:        true !default;
$ui-states:           "info" "alert" "warning" "error" "success" !default;
$font-size:           14px !default;
$line-height:         1.5 !default;
$font-color:          #2b2b2d !default;
$headings-font:       nth($web-font-names, 1) !default;
$link-color:          #489AC1 !default;
$link-active:         #198D98 !default;
$selection-color:     $link-color !default;
$selection-text:      #ffffff !default;
$default-radius:      4px !default;
$info-color:          #3a87ad !default;
$alert-text:          #ffffff !default;
$error-color:         #b94a48 !default;
$warning-color:       #FF971E !default;
$success-color:       #468847 !default;
$gutter:              10px !default;
$background-color:    #ffffff !default;
$default-radius:      4px !default;


%document {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
}

@mixin _selection {
  background: $selection-color;
  color: $selection-text;
  text-shadow: none;
}

%links {
  color: $link-color;
  @include transition(color 0.25s);
  &:hover, &:focus {
    color: $link-active;
    text-decoration: underline;
  }
}

%heading {
  margin-bottom: 15px;
  line-height: 1.3;
  @extend %#{$headings-font};
}

%h1 {
  @extend %heading;
  font-weight: 200;
  font-size: 2.3333333333em;
}

%h2 {
  @extend %heading;
  font-weight: 200;
  font-size: 2em;
}

%h3 {
  @extend %heading;
  font-weight: 500;
  font-size: 1.5em;
}

%h4 {
  @extend %heading;
  font-weight: 500;
  font-size: 1.3333333333em;
}

%h5 {
  @extend %heading;
  font-weight: 900;
  font-size: 1.1666666667em;
}

%h6 {
  @extend %heading;
  font-weight: 900;
  font-size: 1.1666666667em;
  text-transform: uppercase;
}

%p, %ul, %ol, %dl {
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 1.5;
}

%list {
  margin-left: 20px;
  %list-item {
    display: list-item;
  }
}

%dl {
  %dt {
    font-weight: bold;
  }
  %dd {
    padding-left: 1em;
    margin-bottom: $gutter;
  }
}

%unstyled {
  @extend %zero;
  list-style: none;
}

%ul-list {
  @extend %unstyled;
  margin-left: 0;
  %list-item {
    &:before {
      content: '\f00c';
      display: inline-block;
      width: 1.1em;
      margin-right: 0.25em;
      @include icon-FontAwesome();
      font-size: 1.2em;
      vertical-align: baseline;
      background-image: none;
      background-position: 0% 0%;
      background-repeat: repeat;
      margin-top: 0;
    }
  }
}

%ol-list {
  @extend %unstyled;
  counter-reset: li;
  margin-left: 1.5em;
  line-height: 1.6;
  %list-item {
    position: relative;
    padding: 2px 6px 0;
    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 0.1em;
      left: -2em;
      width: 2em;
      text-align: center;
      padding: 0.3em 0.1em 0.1em;
      font-size: 0.8em;
      line-height: 1.5;
      color: $background-color;
      background: $font-color;
      font-weight: bold;
      @include rounded($default-radius);
    }
  }
}

%small              { @include _small; }
%medium             { @include _medium; }
%big, %large        { @include _large; }
%em, %italic        { font-style: italic; }
%b, %bold, %strong  { font-weight: 900; }
%sup                { @extend %small; }
%sub                { @extend %small; }
%monospace          { font-family: monospace; }
%del, %strike       { text-decoration: line-through; }

@for $i from 1 through length($modifier-name) {
  %#{nth($modifier-name, $i)} {
    color: #{nth($modifier-text, $i)};
  }
}

%q, %quote {
  @extend %bold, %italic;
  &:before {
    content: '\201C';
  }
  &:after {
    content: '\201D';
  }
}

%blockquote {
  @extend %relative, %bold;
  padding: 1.3em 4em 1em;
  color: $font-color;
  font-size: 1.15em;
  background: darken($background-color, 10%);
  @include border-radius($default-radius);
  &:before {
    content: '\201C';
    color: darken($background-color, 20%);
    font-size: 4em;
    display: block;
    position: absolute;
    top: -0.2em;
    left: 0.1em;
  }
  &:after {
    content: '\201D';
    color: darken($background-color, 20%);
    font-size: 4em;
    display: block;
    position: absolute;
    top: -0.2em;
    right: 0.1em;
  }
}

%cite {
  display: block;
  position: relative;
  left: -1em;
  margin-top: 0.25em;
  font-size: 0.95em;
  font-weight: normal;
  font-style: normal;
  color: lighten($font-color, 15%);
  &:before {
    content: '\2014';
  }
}

%abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

%code {
  @extend %monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	min-height: 1em;
	display: inline-block;
	background: lighten(gray, 30%);
	border: none;
	padding: 0 0.3em;
	margin: 0 0.2em;
	font-weight: normal;
	line-height: inherit;
}

%pre {
  @extend %monospace;
	$gutter-column: 2.6em !default;
	color: darken(white, 5%);
	background: #050505;
  font-size: 1em;
	padding: 0.5em;
	display: block;
	border-left: #{$gutter-column} solid lighten(#050505, 20%);
	counter-reset: linenumber;
	%code {
    display: block;
		background: inherit;
		margin: 0;
		padding: 0;
		&:before {
			text-align: right;
			color: lighten(gray, 10%);
			counter-increment: linenumber;
			content: counter(linenumber) ".";
			position: absolute;
			left: 0.65em;
			width: #{$gutter-column};
		}
	}
}

%info             { color: $info-color; }
%alert            { color: $alert-color; }
%warning          { color: $warning-color; }
%error, %invalid  { color: $error-color; }
%success, %valid  { color: $success-color; }

// responsive headings
.js {
  .responsive:not(table) {
    @extend %truncate;
    @include transition(font 0.25s);
  }
}

@if $type-tags {
  body {
    @extend %document;
  }
  ::-moz-selection {
    @include _selection;
  }
  ::selection {
    @include _selection;
  }
  a, a:visited {
    @extend %links;
  }
  ul, ol {
    @extend %list;
    li {
      @extend %list-item;
    }
  }
  dl {
    @extend %dl;
    dt {
      @extend %dt;
    }
    dd {
      @extend %dd;
    }
  }
  abbr[title], dfn[title],
  abbr[data-title], dfn[data-title] {
    @extend %abbr;
  }
  @for $i from 1 through length($type-elements) {
		#{nth($type-elements, $i)} {
			@extend %#{nth($type-elements, $i)};
		}
  }
}

@if $styled-lists {
  ul, ol {
    &.unstyled {
      @extend %unstyled;
    }
  }
  ul.list {
    @extend %ul-list;
    > li {
      @extend %list-item;
    }
  }
  ol.list {
    @extend %ol-list;

    @if $type-colors {
      @for $i from 1 through length($modifier-name) {
        &.#{nth($modifier-name, $i)} {
          li {
            &:before {
              background: #{nth($modifier-code, $i)};
            }
          }
        }
      }
      li {
        @for $i from 1 through length($modifier-name) {
          &.#{nth($modifier-name, $i)} {
            &:before {
              background: #{nth($modifier-code, $i)};
            }
          }
        }
      }
    }

    > li {
      @extend %list-item;
    }
  }
}

@if $type-colors {
  @for $i from 1 through length($modifier-name) {
    .#{nth($modifier-name, $i)} {
      color: #{nth($modifier-code, $i)};
    }
  }
}

@for $i from 1 through length($ui-states) {
  .#{nth($ui-states, $i)} {
    @extend %#{nth($ui-states, $i)};
  }
}

@if $type-classes {
  @for $i from 1 through length($type-classnames) {
    .#{nth($type-classnames, $i)} {
      @extend %#{nth($type-classnames, $i)};
    }
  }
}
