// =============================================
//                 Web Fonts
//          Last Updated:2013-8-16
// =============================================

$webfont-classes: true !default;
$web-font-names:  "source-sans-pro"
                  "museo-slab"
                  "quicksand"
                  !default;
$web-font-files:  "sourcesanspro-regular-webfont"
                  "museo-slab-500-webfont"
                  "quicksand-regular-webfont"
                  !default;


@for $i from 1 through length($web-font-files) {
  @font-face {
    font-family: '#{nth($web-font-names, $i)}';
    font-style: normal;
    font-weight: normal;
    src: url('#{$root_path}#{$fonts_path}#{nth($web-font-files, $i)}.eot');
    src: url('#{$root_path}#{$fonts_path}#{nth($web-font-files, $i)}.eot#iefix') format('embedded-opentype'), 
         url('#{$root_path}#{$fonts_path}#{nth($web-font-files, $i)}.woff') format('woff'), 
         url('#{$root_path}#{$fonts_path}#{nth($web-font-files, $i)}.ttf') format('truetype');
  }
  %#{nth($web-font-names, $i)} {
    @include font-stack(#{nth($web-font-names, $i)});
  }
  @if $webfont-classes {
    .#{nth($web-font-names, $i)} {
      @extend %#{nth($web-font-names, $i)};
    }
  }
}
